@use "@styles/variables.module.scss" as *;

.sectionCoupon {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 24px;
  width: 66.06%;
  display: grid;
  grid-template-columns: 18.826% auto;
  grid-template-rows: auto;
  grid-column-gap: 24px;
  justify-items: start;
  align-items: center;
  .sectionCoupon__title {
    display: grid;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 1.25em;
    color: $dark;
    line-height: 150%;
    font-weight: bold;
  }
  .sectionCoupon__form {
    width: 100%;
    display: grid;
    grid-template-columns: auto 29.341%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    .sectionCoupon__input {
      box-sizing: border-box;
      width: 100%;
      display: grid;
      justify-content: start;
      align-items: center;
      padding: 14px 0 14px 24px;
      line-height: 150%;
      font-size: 1em;
      color: $dark;
      font-weight: 500;
      &::placeholder {
        padding-left: 24px;
        font-size: 1em;
        color: #999999;
        line-height: 150%;
        font-weight: 500;
      }
    }
    .sectionCoupon__btn {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 100%;
      height: 52px;
      border-radius: 43px;
      background-color: $dark-gray;
      color: white;
      font-size: 1em;
      font-weight: bold;
      line-height: 20%;
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}
