@use "@styles/variables.module.scss" as *;

.subscribe {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  grid-template-columns: auto 30.223%;
  grid-template-rows: auto;
  .subscribe__form {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 0 14px 24px;
    display: grid;
    justify-items: center;
    align-items: center;
    .subscribe__input {
      font-size: 1em;
      width: 100%;
      color: $dark;
      appearance: none;
      outline: none;
      border: none;
      font-weight: 500;
      text-align: start;
      &::placeholder {
        color: #808080;
        font-size: 1em;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
      }
    }
  }
  .subscribe__button {
    transition: all 0.3s;
    border-radius: 43px;
    width: 100%;
    height: 52px;
    background: $light-green;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
}
