@use "@styles/variables.module.scss" as *;
.login {
  width: 100vw;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: start;
  justify-items: center;
  .login__wrap {
    width: 27.083%;
    box-sizing: border-box;
    padding: 24px 24px 32px 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 20px;
    align-items: start;
    justify-items: center;
    margin: 80px 0 80px 0;
    .login__title {
      width: 100%;
      font-size: 2em;
      color: $dark;
      text-align: center;
    }
    .login__form {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      align-items: center;
      justify-items: center;
      grid-row-gap: 16px;
      .login__email {
        width: 100%;
        box-sizing: border-box;
        padding: 14px 16px 14px 16px;
        color: $dark;
        background-color: transparent;
        font-size: 1em;
        outline: 1px solid transparent;
        font-weight: 500;
        appearance: none;
        border-radius: 20px;
        &::placeholder {
          font-size: 1em;
          font-weight: 500;
          color: #999999;
        }
      }
      .login__email_red {
        outline: 1px solid red;
        &::placeholder {
          color: red;
        }
      }
      .login__innerPassword {
        user-select: none;
        width: 100%;
        display: grid;
        outline: 1px solid transparent;
        grid-template-columns: auto 5%;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        border-radius: 20px;
        .login__password {
          width: 100%;
          outline: 2px solid transparent;
          appearance: none;
          box-sizing: border-box;
          padding: 14px 16px 14px 16px;
          color: $dark;
          background-color: transparent;
          font-size: 1em;
          font-weight: 500;
          &::placeholder {
            font-size: 1em;
            font-weight: 500;
            color: #999999;
          }
        }
        .login__switchPassword {
          width: 18px;
          height: 13px;
          cursor: pointer;
          display: grid;
          justify-items: start;
          transition: all 0.3s;
          stroke: $dark;
          &:hover {
            transform: scale(1.2);
          }
        }
        .login__switchPassword_show {
          stroke: $light-green;
        }
      }
      .login__innerPassword_red {
        outline: 1px solid red;
        .login__password {
          &::placeholder {
            color: red;
          }
        }
      }
      .login__wrapRememberBtn {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-between;
        .login__innerCheckbox {
          width: 100%;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          align-items: center;
          justify-items: start;
          grid-column-gap: 8px;
          font-size: 0.875em;
          color: #666666;
          font-weight: 500;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer;
          transition: all 0.3s;
          .login__check {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid #cccccc;
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            transition: all 0.3s;
          }
          .login__check[type="checkbox"]::before {
            content: "";
            width: 100%;
            position: absolute;
            margin: auto;
            background-color: white;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            overflow: hidden;
          }
          .login__check[type="checkbox"]:checked::before {
            height: 100%;
            width: 100%;
            background-color: $light-green;
            border-radius: 5px;
            border: 3px solid white;
            outline: 2px solid $light-green;
            content: "";
          }
        }
        .login__forgot {
          font-size: 0.875em;
          color: #666666;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s;
        }
      }
      .login__btn {
        margin-top: 4px;
        width: 100%;
        cursor: pointer;
        height: 45px;
        background-color: $light-green;
        color: white;
        font-size: 0.875em;
        font-weight: 550;
        border-radius: 43px;
        transition: all 0.3s;
      }
    }
    .login__innerRegister {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      align-items: center;
      justify-content: center;
      grid-column-gap: 4px;
      .login__subtitle {
        color: #666666;
        font-size: 0.875em;
        font-weight: 500;
      }
      .login__link {
        color: $dark;
        font-size: 0.875em;
        font-weight: 550;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
}
