@use "@styles/variables.module.scss" as *;

.singlePost {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  grid-row-gap: 38px;
  .singlePost__container {
    display: grid;
    width: 68.75%;
    margin: 0 auto;
    grid-template-columns: 66.06% 30.303%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: start;
    grid-column-gap: 3.237%;
    .singlePost__nav {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(5, auto);
      grid-row-gap: 48px;
      justify-items: center;
      align-items: start;
    }
  }
}
