@layer component {
  .hourly {
    margin-top: 36px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-inline: 16px;
    padding-block: 20px;
    border-radius: 20px;
    background-color: var(--neutral-800);
    row-gap: 16px;
    @supports (padding-inline: 1cqw) {
      padding-inline: clamp(16px, 3.125cqw, 24px);
    }
    @supports (padding-block: 1cqw) {
      padding-block: clamp(20px, 3.125cqw, 24px);
    }
    .hourly__innerTitle {
      width: 100%;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      .hourly__title {
        font-size: 1.25em;
        font-weight: 700;
        line-height: 120%;
        text-align: start;
        color: var(--white);
      }
    }
  }
  @container (min-width: 1440px) {
    .hourly {
      margin-top: 48px;
    }
  }
}
