@use "@styles/variables.module.scss" as *;

.orderNote {
  font-family: "Poppins", sans-serif;
  margin-top: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  justify-items: start;
  align-items: center;
  .orderNote__title {
    width: 100%;
    text-align: start;
    font-size: 1.5em;
    color: $dark;
    font-weight: 550;
    line-height: 150%;
  }
  .orderNote__innerInput {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    justify-items: center;
    align-items: center;
    .orderNote__subtitle {
      font-size: 0.875em;
      width: 100%;
      text-align: start;
      font-weight: 500;
      color: $dark;
      line-height: 150%;
    }
    .orderNote__area {
      box-sizing: border-box;
      width: 100%;
      outline: none;
      appearance: none;
      border: none;
      resize: none;
      padding: 14px 16px;
      font-size: 1.1em;
      color: $dark;
      font-weight: 500;
      text-align: start;
      line-height: 130%;
      &::placeholder {
        font-size: 1.1em;
        color: #999999;
        font-weight: 500;
        text-align: start;
        line-height: 130%;
      }
    }
  }
}
