@use "@styles/variables.module.scss" as *;

.sectionPass {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: start;
  grid-row-gap: 40px;
  padding: 18px 24px 24px 24px;
  grid-row-gap: 40px;
  .sectionPass__title {
    font-size: 1.25em;
    color: $dark;
    line-height: 150%;
    font-weight: 550;
  }
  .sectionPass__form {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: start;
    justify-items: start;
    grid-row-gap: 16px;
    .sectionPass__wrapPass {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      align-items: center;
      justify-items: start;
      grid-row-gap: 6px;
      .sectionPass__subtitle {
        font-size: 0.875em;
        font-weight: 500;
        line-height: 150%;
        color: $dark;
      }
      .sectionPass__innerInput {
        width: 100%;
        display: grid;
        grid-template-columns: auto 2%;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        grid-column-gap: 4px;
        border-radius: 8px;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding-right: 16px;
        .sectionPass__input {
          box-sizing: border-box;
          padding: 14px 16px;
          width: 100%;
          font-size: 1em;
          line-height: 130%;
          color: #999999;
          background-color: transparent;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        .sectionPass__iconEye {
          width: 18px;
          height: 12px;
          cursor: pointer;
          transition: all 0.3s;
          stroke: $dark;
        }
        .sectionPass__iconEye_active {
          stroke: $light-green;
        }
      }
      .sectionPass__innerInput_active {
        border: 1px solid $light-green;
      }
    }
    .sectionPass__wrapNewPass {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 16px;
      align-items: center;
      justify-items: center;
      .sectionPass__column {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 6px;
        align-items: center;
        justify-items: start;
        .sectionPass__subtitle {
          font-size: 0.875em;
          font-weight: 500;
          line-height: 150%;
          color: $dark;
        }
        .sectionPass__innerInput {
          width: 100%;
          display: grid;
          grid-template-columns: auto 4%;
          grid-template-rows: auto;
          align-items: center;
          justify-items: center;
          grid-column-gap: 4px;
          border: 1px solid transparent;
          border-radius: 8px;
          box-sizing: border-box;
          padding-right: 16px;
          .sectionPass__input {
            box-sizing: border-box;
            padding: 14px 16px;
            width: 100%;
            font-size: 1em;
            line-height: 130%;
            color: #999999;
            background-color: transparent;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          .sectionPass__iconEye {
            width: 18px;
            height: 12px;
            cursor: pointer;
            transition: all 0.3s;
            stroke: $dark;
          }
          .sectionPass__iconEye_active {
            stroke: $light-green;
          }
        }
        .sectionPass__innerInput_active {
          border: 1px solid $light-green;
        }
      }
    }
    .sectionPass__btnSavePass {
      margin-top: 8px;
      width: 20.83%;
      color: white;
      background-color: $light-green;
      border-radius: 43px;
      font-weight: 500;
      height: 45px;
      display: grid;
      align-items: center;
      justify-items: center;
      font-size: 0.875em;
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}
// .sectionPass .sectionPass__form {
//   .sectionPass__wrapNewPass
//     .sectionPass__column
//     .sectionPass__innerInput
//     .sectionPass__iconEye_active {
//     stroke: $light-green;
//   }
//   .sectionPass__wrapPass .sectionPass__innerInput .sectionPass__iconEye_active {
//     stroke: $light-green;
//   }
// }
