@use "@styles/variables.module.scss" as *;

.rating {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: start;
  padding-bottom: 14.74%;
  transition: all 0.3s;
  .rating__innerTitle {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    .rating__title {
      font-size: 1.25em;
      font-weight: 550;
      color: $dark;
      cursor: pointer;
    }
    .rating__iconArrowUp {
      width: 15px;
      height: 10px;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
  .rating__wrapFilterStars {
    width: 100%;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-row-gap: 27px;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    transition: all 0.3s;
  }
}
.rating_hidden {
  padding-bottom: 0px;
  .rating__innerTitle {
    .rating__iconArrowUp_rotate {
      transform: rotate(180deg);
    }
  }
  .rating__wrapFilterStars_hidden {
    display: none;
  }
}
