@use "@styles/variables.module.scss" as *;

.blogCategories {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  align-items: start;
  justify-items: start;
  padding: 20px 0 20px 0;
  .blogCategories__title {
    width: 100%;
    font-size: 1.25em;
    color: $dark;
    font-weight: 550;
  }
  .blogCategories__wrapCategory {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-row-gap: 16px;
    align-items: center;
    justify-items: start;
    .blogCategories__innerCategory {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      align-items: center;
      justify-content: space-between;
      .blogCategories__name {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.875em;
        color: $dark;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 30px;
        padding: 2px 10px 2px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .blogCategories__name_active {
        color: white;
        background-color: $light-green;
      }
      .blogCategories__length {
        width: 100%;
        font-size: 0.875em;
        font-weight: 500;
        color: #808080;
      }
    }
  }
}
