@use "@styles/variables.module.scss" as *;

.contact {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  .contact__wrapContent {
    width: 68.75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 23.7% 74.4%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: start;
    grid-column-gap: 1.818%;
    padding: 80px 0px;
    .contact__innerContact {
      width: 100%;
      display: grid;
      box-sizing: border-box;
      padding-inline: 20px;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      align-items: center;
      justify-items: center;
      .contact__info {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 20px 24px 20px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
        grid-row-gap: 16px;
        .contact__icon {
          width: 40px;
          height: 40px;
        }
        .contact__infoText {
          color: #333333;
          font-size: 1em;
          font-weight: 500;
          text-align: center;
        }
      }
    }
    .contact__innerForm {
      min-width: 100%;
      display: grid;
      align-items: start;
      justify-items: start;
      padding: 50px;
      box-sizing: border-box;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 24px;
      .contact__innerTitle {
        width: 46%;
        display: grid;
        align-items: start;
        justify-items: start;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
        .contact__title {
          font-size: 1.5em;
          font-weight: bold;
          color: $dark;
        }
        .contact__subtitle {
          font-size: 0.875em;
          font-weight: 500;
          color: #808080;
        }
      }
      .contact__form {
        width: 100%;
        display: grid;
        align-items: start;
        justify-items: start;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-row-gap: 16px;
        .contact__innerInput {
          width: 100%;
          display: grid;
          align-items: center;
          justify-items: start;
          grid-template-columns: 49% 49%;
          grid-template-rows: auto;
          grid-column-gap: 1.809%;
          .contact__label {
            padding-left: 16px;
            width: 100%;
            color: #666666;
            font-weight: 500;
            font-size: 1em;
          }
          .contact__inputEmail {
            width: 100%;
            height: 49px;
            color: #666666;
            font-size: 1em;
            font-weight: 500;
            border: none;
            padding-left: 16px;
            border-radius: 6px;
            box-sizing: border-box;
            border: 1px solid transparent;
          }
          .contact__inputEmail_focused {
            border: 1px solid $light-green;
          }
        }
        .contact__inputText {
          box-sizing: border-box;
          width: 100%;
          height: 49px;
          font-size: 1em;
          font-weight: 500;
          color: $dark;
          border: none;
          padding-left: 16px;
          border-radius: 6px;
          border: 1px solid transparent;
        }
        .contact__inputText_focused {
          border: 1px solid $light-green;
        }
        .contact__comment {
          border-radius: 6px;
          font-size: 1em;
          color: #999999;
          font-weight: 500;
          height: 98px;
          width: 100%;
          resize: none;
          border: none;
          padding-left: 16px;
          padding-top: 14px;
          box-sizing: border-box;
          border: 1px solid transparent;
          outline: none;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .contact__comment_focused {
          border: 1px solid $light-green;
        }
      }
      .contact__button {
        width: 20.223%;
        height: 51px;
        font-size: 1em;
        color: white;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 43px;
        background-color: $light-green;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
  .contact__map {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 400px;
  }
}
