@layer components {
  .stack {
    width: 100%;
    margin-top: 60px;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 30px;
    @supports (margin-top: 1cqw) {
      margin-bottom: clamp(60px, 5.55cqw, 80px);
    }
    @supports (row-gap: 1cqw) {
      row-gap: clamp(30px, 3.472cqw, 50px);
    }
    .stack__innerTitle {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      column-gap: 15px;
      justify-content: start;
      align-items: center;
      .stack__circle {
        width: 18px;
        height: 18px;
        background-color: var(--pale-green);
        border-radius: 50%;
      }
      .stack__title {
        font-size: 1.7em;
        font-weight: 500;
        color: var(--white);
        text-align: start;
      }
    }
    .stack__list {
      width: 100%;
      list-style-type: square;
      list-style-position: inside;
      display: grid;
      row-gap: 10px;
      .stack__text {
        color: var(--white);
        opacity: 48%;
        font-weight: 500;
        text-align: start;
        line-height: 130%;
        font-size: 1.1em;
      }
    }
  }
  @container (min-width: 1440px) {
    .stack {
      .stack__innerTitle .stack__title {
        font-size: 2em;
        @supports (font-size: 1cqw) {
          font-size: clamp(2em, 1.875cqw, 3em);
        }
      }
      .stack__list .stack__text {
        font-size: 1.4em;
        @supports (font-size: 1cqw) {
          font-size: clamp(1.4em, 1.25cqw, 2em);
        }
      }
    }
  }
}
