@use "@styles/variables.module.scss" as *;

.sectionSearch {
  width: 68.75%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 22px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  .sectionSearch__wrapBasket {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 16px;
    justify-content: end;
    align-items: center;
    .sectionSearch__link {
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;
      .sectionSearch__iconHeart {
        transition: all 0.3s;
        width: 32px;
        height: 26px;
      }
    }
    .sectionSearch__iconSeparator {
      height: 24px;
      width: 2px;
    }
    .sectionSearch__innerBasket {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      justify-items: end;
      align-items: center;
      grid-column-gap: 12px;
      transition: all 0.3s;
      .sectionSearch__innerIconBasket {
        width: 34px;
        height: 34px;
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        .sectionSearch__counter {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #2c742f;
          transition: all 0.3s;
          border-radius: 50%;
          z-index: 100;
          color: white;
          font-size: 0.625em;
          font-weight: 550;
          display: grid;
          justify-items: center;
          align-items: center;
        }
        .sectionSearch__iconBasket {
          width: 32px;
          height: 28px;
          transition: all 0.3s;
        }
      }
      .sectionSearch__innerSubtitle {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 7px;
        .sectionSearch__subtitle {
          font-size: 0.68em;
          width: 100%;
          color: #4d4d4d;
          font-weight: 500;
          text-align: start;
          line-height: 120%;
          transition: all 0.3s;
        }
        .sectionSearch__subtitle_bold {
          width: 100%;
          font-size: 0.875em;
          font-weight: bold;
          color: $dark;
          text-align: start;
          transition: all 0.3s;
        }
      }
    }
  }
}
