@use "@styles/variables.module.scss" as *;
.product {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  display: grid;
  width: 100vw;
  justify-items: center;
  align-items: center;
  .product__wrapProduct {
    width: 68.75%;
    display: grid;
    margin: 0 auto;
    padding-top: 1.666%;
    grid-template-columns: 6.06% auto;
    grid-template-rows: auto;
    grid-column-gap: 12px;
  }
  .product__innerLinks {
    width: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding-bottom: 1.666%;
    .product__link {
      color: #808080;
      font-size: 1em;
      padding: 16px 16px 16px 16px;
      font-weight: 550;
    }
    .product__link_active {
      color: $dark;
      font-weight: 550;
      padding: 16px 16px 16px 16px;
      border-bottom: 2px solid $light-green;
    }
  }
  .product__wrapDescription {
    width: 68.75%;
    display: grid;
    margin: 0 auto;
    padding-bottom: 4.166%;
  }
}
