@use "@styles/variables.module.scss" as *;

.blockName {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: auto;
  grid-column-gap: 2%;
  justify-items: center;
  align-items: center;
  .blockName__innerInput {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    justify-items: start;
    align-items: center;
    .blockName__title {
      width: 100%;
      color: $dark;
      line-height: 150%;
      font-weight: 500;
      font-size: 0.875em;
      display: grid;
      justify-content: start;
      align-items: center;
    }
    .blockName__title_wrapSpan {
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      .blockName__textSpan {
        padding-left: 4px;
        color: #808080;
        font-size: 1em;
        font-weight: 500;
      }
    }
    .blockName__input {
      width: 100%;
      text-align: start;
      box-sizing: border-box;
      padding: 14px 16px;
      font-size: 1em;
      font-weight: 500;
      color: $dark;
      &::placeholder {
        font-size: 1em;
        color: #999999;
        font-weight: 500;
      }
    }
  }
}
