@use "@styles/variables.module.scss" as *;
@media (min-width: 2000px) {
  #root .shop .shop__gridProducts .listProducts {
    grid-row-gap: 3px;
    .card {
      .discountProcentSale {
        height: 30px;
        width: 35%;
        border-radius: 10px;
      }
      .btnAddWishlist {
        width: 45px;
        height: 45px;
        .btnAddWishlist__icon {
          width: 20px;
          height: 20px;
        }
      }
      .btnActiveModal {
        width: 45px;
        height: 45px;
        top: 90px;
        .btnActiveModal__icon {
          width: 20px;
          height: 20px;
        }
      }
      .btnAddBasket {
        width: 45px;
        height: 45px;
        .btnAddBasket__icon {
          width: 20px;
          height: 20px;
        }
      }
      .card__wrapContent .starsRating {
        grid-column-gap: 8px;
        .starsRating__star {
          width: 12px;
          height: 12px;
        }
      }
    }
    .card_active {
      outline: 2px solid #00b207;
    }
  }
}
@media (min-width: 2300px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .btnAddWishlist {
      width: 50px;
      height: 50px;
    }
    .btnActiveModal {
      width: 50px;
      height: 50px;
    }
    .btnAddBasket {
      width: 50px;
      height: 50px;
    }
    .card__wrapContent {
      .card__innerPrice {
        grid-column-gap: 12px;
      }
      .starsRating .starsRating__star {
        width: 15px;
        height: 15px;
      }
    }
  }
}
@media (min-width: 2500px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .discountProcentSale {
      height: 35px;
    }
    .btnAddWishlist {
      width: 55px;
      height: 55px;
      .btnAddWishlist__icon {
        width: 25px;
        height: 25px;
      }
    }
    .btnActiveModal {
      width: 55px;
      height: 55px;
      top: 110px;
      .btnActiveModal__icon {
        width: 25px;
        height: 25px;
      }
    }
    .btnAddBasket {
      width: 55px;
      height: 55px;
      .btnAddBasket__icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media (min-width: 2700px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .btnAddWishlist {
      width: 60px;
      height: 60px;
    }
    .btnActiveModal {
      width: 60px;
      height: 60px;
    }
    .btnAddBasket {
      width: 60px;
      height: 60px;
    }
  }
}
@media (min-width: 3100px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .discountProcentSale {
      height: 40px;
    }
    .btnAddWishlist {
      width: 70px;
      height: 70px;
      .btnAddWishlist__icon {
        width: 30px;
        height: 30px;
      }
    }
    .btnActiveModal {
      width: 70px;
      height: 70px;
      top: 120px;
      .btnActiveModal__icon {
        width: 30px;
        height: 30px;
      }
    }
    .btnAddBasket {
      width: 70px;
      height: 70px;
      .btnAddBasket__icon {
        width: 30px;
        height: 30px;
      }
    }
    .card__wrapContent .starsRating .starsRating__star {
      width: 18px;
      height: 18px;
    }
  }
}
@media (min-width: 3300px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .discountProcentSale {
      border-radius: 12px;
    }
    .btnAddWishlist {
      width: 75px;
      height: 75px;
    }
    .btnActiveModal {
      width: 75px;
      height: 75px;
      top: 130px;
    }
    .btnAddBasket {
      width: 75px;
      height: 75px;
    }
    .card__wrapContent .starsRating .starsRating__star {
      width: 20px;
      height: 20px;
    }
  }
}
@media (min-width: 3700px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .discountProcentSale {
      height: 45px;
    }
    .btnAddWishlist {
      width: 80px;
      height: 80px;
      .btnAddWishlist__icon {
        width: 35px;
        height: 35px;
      }
    }
    .btnActiveModal {
      width: 80px;
      height: 80px;
      .btnActiveModal__icon {
        width: 35px;
        height: 35px;
      }
    }
    .btnAddBasket {
      width: 80px;
      height: 80px;
      .btnAddBasket__icon {
        width: 35px;
        height: 35px;
      }
    }
    .card__wrapContent .starsRating .starsRating__star {
      width: 25px;
      height: 25px;
    }
  }
}
@media (max-width: 1500px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .card__wrapImg {
      padding-bottom: 18px;
    }
    .card__wrapContent {
      padding: 0px 0 12px 12px;
    }
    .discountProcentSale {
      width: 35%;
    }
    .btnAddWishlist {
      right: 10px;
      top: 10px;
    }
    .btnActiveModal {
      right: 10px;
      top: 65px;
    }
    .btnAddBasket {
      right: 10px;
      bottom: 10px;
    }
  }
}
@media (max-width: 1300px) {
  #root .shop .shop__gridProducts .listProducts .card .discountProcentSale {
    height: 22px;
  }
}
@media (max-width: 1100px) {
  #root .shop .shop__gridProducts .listProducts .card {
    .btnAddWishlist {
      width: 35px;
      height: 35px;
    }
    .btnActiveModal {
      width: 35px;
      height: 35px;
    }
    .btnAddBasket {
      width: 35px;
      height: 35px;
    }
    .discountProcentSale {
      width: 38%;
    }
    .card__wrapImg {
      padding-bottom: 0px;
    }
  }
}
@media (max-width: 900px) {
  #root .shop .shop__gridProducts .listProducts {
    grid-template-columns: 48.69% 48.69%;
    grid-auto-rows: auto;
    .card {
      .discountProcentSale {
        width: 25%;
      }
      .btnAddWishlist {
        width: 40px;
        height: 40px;
        left: auto;
        top: 20px;
        right: 20px;
      }
      .btnActiveModal {
        width: 40px;
        height: 40px;
        left: auto;
        right: 20px;
        top: 90px;
      }
      .btnAddBasket {
        width: 40px;
        height: 40px;
        left: auto;
        top: auto;
        right: 20px;
        bottom: 20px;
      }
    }
    .card:nth-child(1) {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      width: 60%;
      .discountProcentSale {
        width: 20%;
      }
      .btnAddWishlist {
        width: 40px;
        height: 40px;
        left: auto;
        top: 20px;
        right: 20px;
      }
      .btnActiveModal {
        width: 40px;
        height: 40px;
        left: auto;
        right: 20px;
        top: 90px;
      }
      .btnAddBasket {
        width: 40px;
        height: 40px;
        left: auto;
        right: 20px;
        top: auto;
        bottom: 20px;
      }
    }
  }
}
@media (max-width: 600px) {
  #root .shop .shop__gridProducts .listProducts {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    .card:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;
      .discountProcentSale {
        width: 30%;
      }
      .btnActiveModal {
        top: 105px;
      }
    }
    .card {
      .discountProcentSale {
        width: 30%;
      }
      .btnActiveModal {
        top: 105px;
      }
    }
  }
}
