@media (min-width: 2000px) {
  #root
    .sectionFeatures
    .sectionFeatures__wrapContent
    .sectionFeatures__innerTitle {
    width: 80%;
  }
}
@media (min-width: 2300px) {
  #root
    .sectionFeatures
    .sectionFeatures__wrapContent
    .sectionFeatures__wrapDescription {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}
@media (min-width: 2700px) {
  #root .sectionFeatures .sectionFeatures__wrapContent {
    grid-row-gap: 50px;
    .sectionFeatures__innerTitle {
      grid-row-gap: 30px;
    }
    .sectionFeatures__section {
      grid-column-gap: 50px;
      .sectionFeatures__icon {
        width: 50px;
        height: 55px;
      }
    }
    .sectionFeatures__wrapDescription {
      grid-gap: 70px;
    }
  }
}
@media (min-width: 3100px) {
  #root
    .sectionFeatures
    .sectionFeatures__wrapContent
    .sectionFeatures__section {
    grid-column-gap: 70px;
    .sectionFeatures__icon {
      width: 60px;
      height: 64px;
    }
  }
}
@media (min-width: 3700px) {
  #root
    .sectionFeatures
    .sectionFeatures__wrapContent
    .sectionFeatures__wrapDescription {
    grid-gap: 90px;
    .sectionFeatures__section .sectionFeatures__icon {
      width: 70px;
      height: 70px;
    }
  }
}
@media (max-width: 1900px) {
  #root
    .sectionFeatures
    .sectionFeatures__wrapContent
    .sectionFeatures__innerTitle {
    width: 70%;
  }
}
@media (max-width: 1400px) {
  #root .sectionFeatures .sectionFeatures__wrapContent {
    .sectionFeatures__innerTitle .sectionFeatures__title {
      font-size: 3em;
    }
    .sectionFeatures__wrapDescription
      .sectionFeatures__section
      .sectionFeatures__icon {
      width: 32px;
      height: 40px;
    }
  }
}
@media (max-width: 1300px) {
  #root .sectionFeatures .sectionFeatures__wrapContent {
    .sectionFeatures__innerTitle .sectionFeatures__title {
      font-size: 2.8em;
    }
    .sectionFeatures__wrapDescription
      .sectionFeatures__section
      .sectionFeatures__icon {
      width: 30px;
      height: 36px;
    }
  }
}
@media (max-width: 1200px) {
  #root .sectionFeatures .sectionFeatures__wrapContent {
    .sectionFeatures__innerTitle {
      width: 90%;
      .sectionFeatures__title {
        font-size: 2.5em;
      }
    }
    .sectionFeatures__wrapDescription {
      grid-column-gap: 20px;
      .sectionFeatures__section {
        grid-column-gap: 20px;
        .sectionFeatures__icon {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  #root .sectionFeatures {
    padding-bottom: 50px;
    .sectionFeatures__wrapContent
      .sectionFeatures__wrapDescription
      .sectionFeatures__section {
      grid-column-gap: 10px;
      .sectionFeatures__icon {
        padding: 0;
      }
    }
  }
}
@media (max-width: 900px) {
  #root .sectionFeatures {
    width: 95%;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    .sectionFeatures__innerImg {
      img {
        border-radius: 10px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .sectionFeatures__wrapContent {
      grid-row-gap: 30px;
      .sectionFeatures__innerTitle {
        grid-row-gap: 15px;
        width: 100%;
        .sectionFeatures__title {
          font-size: 2.4em;
        }
        .sectionFeatures__text {
          text-align: center;
        }
      }
      .sectionFeatures__wrapDescription {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: auto auto;
        justify-content: center;
        .sectionFeatures__section {
          grid-column-gap: 25px;
          .sectionFeatures__icon {
            width: 25px;
            height: 27px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #root
    .sectionFeatures
    .sectionFeatures__wrapContent
    .sectionFeatures__wrapDescription {
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    .sectionFeatures__section {
      grid-column-gap: 10px;
    }
  }
}
