@layer components {
  .features {
    width: 100%;
    margin-top: -1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 8px;
    .features__title {
      font-size: 0.75em;
      display: grid;
      text-align: center;
      justify-items: center;
      align-items: center;
      line-height: 16px;
      color: var(--primary-hover-color);
      text-transform: uppercase;
      font-weight: 400;
      padding: 5px;
      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}
