@use "@styles/variables.module.scss" as *;

.infoProduct {
  width: 100%;
  display: grid;
  grid-template-columns: 42.131% auto;
  grid-template-rows: auto;
  grid-column-gap: 24px;
  .infoProduct__wrapImg {
    width: 100%;
    height: 100%;
    .infoProduct__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .infoProduct__info {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: start;
    .infoProduct__innerTitle {
      width: 100%;
      display: grid;
      align-items: center;
      justify-content: start;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 8px;
      .infoProduct__title {
        color: $dark;
        font-size: 2.25em;
        font-weight: 550;
      }
      .reviewProduct__presence {
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 0.875em;
        color: #2c742f;
        background-color: rgba(32, 181, 38, 20%);
        width: 100%;
        padding: 4px;
        font-weight: 500;
      }
      .reviewProduct__absence {
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 0.8em;
        color: #ea4b48;
        background-color: rgba(234, 75, 72, 20%);
        padding: 4px;
        width: 100%;
        font-weight: 500;
      }
    }
    .infoProduct__innerRating {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      align-items: center;
      justify-content: start;
      grid-column-gap: 6px;
      padding-bottom: 3.347%;
      .infoProduct__feedback {
        width: 100%;
        color: #666666;
        font-size: 0.875em;
        font-weight: 500;
      }
      .infoProduct__sku {
        margin-left: 28px;
        width: 100%;
        color: #666666;
        font-size: 0.875em;
        font-weight: 500;
      }
    }
    .infoProduct__wrapPrice {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      align-items: center;
      justify-content: start;
      grid-column-gap: 6px;
      padding-bottom: 6.55%;
      .infoProduct__price {
        width: 100%;
        color: #b3b3b3;
        font-weight: 500;
        font-size: 1.25em;
        text-decoration: line-through;
      }
      .infoProduct__oldPrice {
        width: 100%;
        color: #2c742f;
        font-size: 1.5em;
        font-weight: 500;
      }
      .infoProduct__discount {
        width: 100%;
        margin-left: 20px;
        color: #ea4b48;
        font-size: 0.875em;
        font-weight: 550;
      }
    }
    .infoProduct__wrapSocial {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 3.493%;
      .infoProduct__innerBrand {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: start;
        grid-column-gap: 18px;
        .infoProduct__imgBrand {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .infoProduct__brand {
          font-size: 0.875em;
          color: $dark;
          font-weight: 500;
        }
      }
      .infoProduct__innerSocial {
        width: auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        grid-column-gap: 10px;
        .infoProduct__textShare {
          font-size: 0.875em;
          font-weight: 500;
          color: $dark;
        }
      }
    }
    .infoProduct__text {
      color: #808080;
      font-size: 0.875em;
      font-weight: 500;
      padding-bottom: 6.113%;
    }
    .infoProduct__wrapBtn {
      width: 100%;
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-rows: auto;
      grid-template-columns: auto 68.98% auto;
      grid-column-gap: 12px;
      padding-bottom: 6.113%;
      .btnAddBasket {
        width: 100%;
        height: 51px;
        border-radius: 43px;
        background-color: $light-green;
        grid-column-gap: 16px;
        .btnAddBasket__title {
          color: white;
          font-size: 1.2em;
          font-weight: 500;
        }
        .btnAddBasket__icon {
          width: 15px;
          height: 15px;
        }
      }
      .amountProduct {
        display: grid;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 13px 20px 13px 20px;
        font-size: 1em;
        .amountProduct__minus {
          width: 25px;
          font-size: 1.5em;
          background-color: transparent;
        }
        .amountProduct__plus {
          width: 25px;
          font-size: 1.5em;
          background-color: transparent;
        }
      }
      .btnAddWishlist {
        .btnAddWishlist__icon {
          width: 17px;
          height: 15px;
        }
      }
    }
    .infoProduct__category {
      color: #808080;
      font-size: 0.875em;
      font-weight: 500;
      padding-bottom: 12px;
      span {
        font-weight: 550;
        padding-right: 6px;
        color: $dark;
        font-size: 1em;
      }
    }
    .infoProduct__innerTags {
      width: 100%;
      display: grid;
      align-items: center;
      justify-content: start;
      grid-template-rows: auto;
      grid-template-columns: repeat(7, auto);
      grid-column-gap: 8px;
      padding-bottom: 8.29%;
      .infoProduct__tagText {
        font-size: 0.875em;
        color: $dark;
        font-weight: 550;
      }
      .infoProduct__tag {
        font-size: 0.875em;
        color: #808080;
      }
    }
  }
}
