@use "@styles/variables.module.scss" as *;

.bestSale {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  border-radius: 10px;
  border: 1px solid transparent;
  .discountProcentSale {
    top: 20px;
    left: 20px;
    width: 15%;
    height: 27px;
    border-radius: 6px;
  }
  .bestSale__textSale {
    z-index: 10;
    border-radius: 6px;
    font-size: 0.875em;
    color: white;
    background-color: #2388ff;
    height: 27px;
    position: absolute;
    top: 20px;
    left: 20%;
    width: 15%;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .bestSale__wrapImage {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    img {
      width: 100%;
      height: 95%;
      border-radius: 10px;
    }
    .bestSale__wrapButtonAcquire {
      position: absolute;
      top: 88%;
      left: 4%;
      width: 90%;
      background-color: white;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: auto;
      .btnAddWishlist .btnAddWishlist__icon {
        width: 20px;
        height: 20px;
      }
      .btnAddBasket {
        background-color: $light-green;
        width: 88.123%;
        height: 46px;
        border-radius: 40px;
        color: white;
        grid-column-gap: 12px;
        .btnAddBasket__title {
          font-size: 0.875rem;
        }
        .btnAddBasket__icon {
          width: 15px;
          height: 15px;
        }
      }
      .btnActiveModal .btnActiveModal__icon {
        width: 20px;
        height: 20px;
      }
    }
    .bestSale__image {
      width: 100%;
      height: 100%;
    }
  }
  .bestSale__wrapPrice {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 8px;
    .bestSale__title {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 100%;
      font-size: 1.125em;
      color: #2c742f;
      font-weight: 500;
    }
    .bestSale__innerPrice {
      width: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 10px;
      .bestSale__price {
        font-size: 1.5em;
        color: $dark;
        font-weight: 600;
      }
      .bestSale__oldPrice {
        text-decoration: line-through;
        font-size: 1.5em;
        color: #999999;
        font-weight: 600;
      }
    }
    .bestSale__innerStars {
      width: 100%;
      display: grid;
      justify-content: center;
      grid-column-gap: 8px;
      align-items: center;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      .bestSale__feedback {
        position: relative;
        z-index: 10;
        font-weight: 500;
        font-size: 0.75em;
        color: #808080;
      }
    }
    .bestSale__innerCounting {
      position: relative;
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-row-gap: 8px;
      padding: 2.5% 0 2.5% 0;
      font-size: 1em;
      .bestSale__textCounting {
        font-size: 0.875em;
        color: #999999;
        font-weight: 500;
      }
      .bestSale__counting {
        position: relative;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        position: relative;
        grid-column-gap: 36px;
        .bestSale__innerDays {
          width: 100%;
          display: grid;
          justify-items: center;
          align-items: center;
          grid-template-columns: auto;
          grid-template-rows: auto auto;
          .bestSale__textDays {
            color: #999999;
            font-size: 0.625em;
            font-weight: 500;
          }
          .bestSale__amountDays {
            font-size: 1.125em;
            color: $dark;
            font-weight: 600;
          }
        }
        .bestSale__innerTime {
          display: grid;
          grid-template-columns: repeat(5, auto);
          grid-template-rows: auto;
          justify-items: center;
          align-items: center;
          grid-column-gap: 16px;
          .bestSale__separator {
            position: relative;
            top: -22%;
            color: black;
            font-size: 1.25em;
            font-weight: bold;
          }
          .bestSale__innerHours {
            width: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            .bestSale__textHours {
              color: #999999;
              font-size: 0.625em;
              font-weight: 500;
            }
            .bestSale__amountHours {
              font-size: 1.125em;
              color: $dark;
              font-weight: 600;
            }
          }
          .bestSale__innerMinutes {
            width: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            .bestSale__textMinutes {
              color: #999999;
              font-size: 0.625em;
              font-weight: 500;
            }
            .bestSale__amountMinutes {
              font-size: 1.125em;
              color: $dark;
              font-weight: 600;
            }
          }
          .bestSale__innerSeconds {
            width: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            .bestSale__textSeconds {
              color: #999999;
              font-size: 0.625em;
              font-weight: 500;
            }
            .bestSale__amountSeconds {
              font-size: 1.125em;
              color: $dark;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
.bestSale_active {
  border: 1px solid $light-green;
  border-radius: 10px;
}
