@use "@styles/variables.module.scss" as *;

.productFeedback {
  width: 58%;
  display: grid;
  align-items: start;
  justify-items: start;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 24px;
  .productFeedback__container {
    width: 100%;
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-row-gap: 40px;
    .productFeedback__wrapUser {
      width: 100%;
      display: grid;
      align-items: start;
      justify-items: start;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-row-gap: 12px;
      .productFeedback__innerUser {
        display: grid;
        align-items: start;
        justify-items: start;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 4px;
        .productFeedback__userName {
          font-size: 0.875em;
          color: $dark;
          font-weight: 550;
        }
      }
      .productFeedback__comment {
        font-size: 0.875em;
        color: #808080;
        font-weight: 500;
      }
    }
  }
  .productFeedback__btnMoreUsers {
    width: auto;
    box-sizing: border-box;
    padding: 14px 32px 14px 32px;
    background-color: white;
    color: $light-green;
    font-size: 0.875em;
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s;
  }
}
