@use "@styles/variables.module.scss" as *;

.hotDeals {
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding-bottom: 6.4%;
  .hotDeals__rowTop {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
    padding-bottom: 2.42%;
    .hotDeals__innerTitle {
      display: grid;
      align-items: center;
      justify-items: start;
      width: 100%;
      .hotDeals__title {
        display: grid;
        align-items: start;
        justify-items: center;
        font-size: 2em;
        color: black;
        font-weight: 600;
      }
    }
    .hotDeals__innerArrowLink {
      display: grid;
      align-items: center;
      justify-content: end;
      width: 100%;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 12px;
      .hotDeals__textLink {
        font-size: 1em;
        color: $light-green;
        font-weight: 500;
        transition: all 0.3s;
      }
      .hotDeals__greenArrow {
        width: 15px;
        height: 12px;
        transition: all 0.3s;
      }
    }
  }
  .hotDeals__rowBottom {
    width: 100%;
    display: grid;
    justify-items: start;
    align-items: start;
    grid-gap: 2px;
    grid-template-columns: repeat(5, 19.878%);
    grid-template-rows: repeat(3, 33.2%);
    .card .discountProcentSale {
      height: 25px;
    }
  }
}
