@use "@styles/variables.module.scss" as *;
.blockCountry {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: auto;
  grid-column-gap: 2%;
  justify-items: center;
  align-items: center;
  .blockCountry__wrapList {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    justify-items: center;
    align-items: center;
    .blockCountry__title {
      color: $dark;
      line-height: 150%;
      font-size: 0.875em;
      font-weight: 500;
      width: 100%;
      text-align: start;
    }
    .blockCountry__innerList {
      position: relative;
      box-sizing: border-box;
      padding: 14px 16px;
      width: 100%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto 5.714%;
      grid-column-gap: 10px;
      justify-items: center;
      align-items: center;
      cursor: pointer;
      appearance: none;
      outline: none;
      .blockCountry__selected {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s;
        color: #999999;
        font-size: 1em;
        line-height: 130%;
        font-weight: 500;
        user-select: none;
        text-align: start;
      }
      .blockCountry__list {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        justify-items: center;
        align-items: center;
        list-style-type: none;
        &::-webkit-scrollbar {
          display: none;
        }
        .blockCountry__item {
          user-select: none;
          width: 100%;
          box-sizing: border-box;
          padding: 8px;
          display: grid;
          z-index: 100;
          justify-items: start;
          align-items: center;
          transition: all 0.3s;
          color: white;
          background-color: $dark;
          font-size: 1em;
          border: 2px solid $dark;
          font-weight: 500;
        }
      }
      .blockCountry__list_visible {
        display: grid;
      }
      .blockCountry__iconArrow {
        width: 12px;
        height: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        stroke: #999999;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
  .blockCountry__innerInput {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    justify-items: center;
    align-items: center;
    .blockCountry__title {
      color: $dark;
      line-height: 150%;
      font-size: 0.875em;
      font-weight: 500;
      width: 100%;
      text-align: start;
    }
    .blockCountry__input {
      width: 100%;
      box-sizing: border-box;
      padding: 14px 16px;
      color: $dark;
      font-size: 1em;
      font-weight: 500;
      text-align: start;
      &::placeholder {
        color: #999999;
        font-size: 1em;
        font-weight: 500;
        text-align: start;
      }
    }
  }
}
