@use "@styles/variables.module.scss" as *;

.blockCheckbox {
  width: 100%;
  margin-top: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 6px;
  justify-content: start;
  align-items: center;
  .blockCheckbox__input {
    appearance: none;
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
    }
    &:checked::before {
      outline: 1px solid $light-green;
      border: 2px solid white;
      border-radius: 6px;
      background-color: $light-green;
    }
  }
  .blockCheckbox__text {
    width: 100%;
    color: #4d4d4d;
    font-size: 0.875em;
    font-weight: 500;
    text-align: start;
    transition: all 0.3s;
  }
}
