.checkout {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  .checkout__wrapper {
    width: 68.75%;
    margin: 0 auto;
    grid-column-gap: 24px;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 66.06% auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: start;
    .checkout__wrappContent {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-row-gap: 64px;
      justify-items: center;
      align-items: center;
    }
  }
}
