@use "@styles/variables.module.scss" as *;

.sectionUser {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 0 24px 24px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: start;
  .sectionUser__title {
    font-size: 1.25em;
    font-weight: 550;
    color: $dark;
  }
  .sectionUser__wrapForm {
    display: grid;
    width: 100%;
    grid-template-columns: 52.032% 22.764%;
    grid-template-rows: auto;
    align-items: center;
    justify-items: start;
    grid-row-gap: 112px;
    grid-column-gap: 4px;
    .sectionUser__form {
      width: 100%;
      display: grid;
      margin-top: 40px;
      grid-template-rows: repeat(5, auto);
      grid-template-columns: auto;
      align-items: center;
      justify-items: start;
      grid-row-gap: 16px;
      .sectionUser__innerField {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 6px;
        align-items: center;
        justify-items: start;
        .sectionUser__subtitle {
          font-size: 0.875em;
          color: $dark;
          font-weight: 500;
        }
        .sectionUser__input {
          box-sizing: border-box;
          padding: 14px 0 14px 16px;
          font-size: 1em;
          width: 100%;
          color: #666666;
          background-color: transparent;
          border-radius: 8px;
          border: 1px solid transparent;
        }
        .sectionUser__input_active {
          border: 1px solid $light-green;
        }
      }
      .sectionUser__changeNameBtn {
        cursor: pointer;
        transition: all 0.3s;
        width: 33.617%;
        display: grid;
        align-items: center;
        justify-items: center;
        color: white;
        font-size: 0.875em;
        font-weight: 500;
        margin-top: 8px;
        background-color: $light-green;
        border-radius: 43px;
        height: 45px;
      }
    }
    .sectionUser__wrapChangeImg {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      align-items: center;
      justify-items: center;
      grid-row-gap: 20px;
      .sectionUser__innerImg {
        width: 100%;
        height: 224px;
        .sectionUser__img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
      .sectionUser__changeImgBtn {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 73.2%;
        height: 43px;
        align-items: center;
        justify-items: center;
        color: $light-green;
        background-color: white;
        border: 2px solid $light-green;
        border-radius: 43px;
        font-size: 0.875em;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;
        input[type="file"].sectionUser__inputFile {
          width: 100%;
          height: 100%;
          border-radius: 43px;
          background-color: transparent;
          opacity: 1;
          overflow: hidden;
          color: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          position: absolute;
          cursor: pointer;
        }
        input[type="file"].sectionUser__inputFile::file-selector-button {
          display: none;
        }
      }
    }
  }
}
