@use "./mediaInformation.module.scss";
@use "./mediaOrderSummery.module.scss";

@media (min-width: 2000px) {
  #root .checkout {
    font-size: 1.2em;
  }
}
@media (min-width: 2300px) {
  #root .checkout {
    font-size: 1.4em;
  }
}
@media (min-width: 2700px) {
  #root .checkout {
    font-size: 1.6em;
  }
}
@media (min-width: 3100px) {
  #root .checkout {
    font-size: 1.8em;
  }
}
@media (min-width: 3400px) {
  #root .checkout {
    font-size: 2em;
  }
}
@media (min-width: 3700px) {
  #root .checkout {
    font-size: 2.2em;
  }
}
@media (max-width: 1300px) {
  #root .checkout .checkout__wrapper {
    width: 95%;
  }
}
@media (max-width: 900px) {
  #root .checkout .checkout__wrapper {
    grid-template-columns: auto;
    grid-column-gap: 0;
    grid-template-rows: auto auto;
    grid-row-gap: 25px;
    .checkout__wrappContent {
      grid-row-gap: 0px;
    }
  }
}
