@use "@styles/variables.module.scss" as *;

@media (hover: hover) {
  #root .information .information__form {
    .blockCountry {
      .blockCountry__wrapList
        .blockCountry__innerList
        .blockCountry__list
        .blockCountry__item:hover {
        background-color: white;
        color: $dark;
        border: 2px solid $dark;
      }
    }
    .blockCheckbox:hover {
      .blockCheckbox__input {
        transform: scale(1.1);
      }
      .blockCheckbox__text {
        transform: scale(1.05);
      }
    }
  }
}
@media (hover: none) {
  #root .information .information__form {
    .blockCountry {
      .blockCountry__wrapList
        .blockCountry__innerList
        .blockCountry__list
        .blockCountry__item:active {
        background-color: white;
        color: $dark;
        border: 2px solid $dark;
      }
    }
    .blockCheckbox:active {
      .blockCheckbox__input {
        transform: scale(1.1);
      }
      .blockCheckbox__text {
        transform: scale(1.05);
      }
    }
  }
}
@media (min-width: 2000px) {
  #root .information {
    grid-row-gap: 35px;
    .information__form {
      grid-row-gap: 25px;
      .blockName .blockName__innerInput {
        grid-row-gap: 15px;
      }
      .blockAddress {
        grid-row-gap: 15px;
      }
      .blockCountry {
        .blockCountry__wrapList {
          grid-row-gap: 15px;
          .blockCountry__innerList .blockCountry__iconArrow {
            width: 18px;
            height: 12px;
          }
        }
        .blockCountry__innerInput {
          grid-row-gap: 15px;
        }
      }
      .blockEmail .blockEmail__wrapInput {
        grid-row-gap: 15px;
      }
      .blockCheckbox {
        grid-column-gap: 15px;
        .blockCheckbox__input {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
@media (min-width: 2300px) {
  #root
    .information
    .information__form
    .blockCountry
    .blockCountry__wrapList
    .blockCountry__innerList
    .blockCountry__list {
    height: 430px;
    top: 65px;
  }
}
@media (min-width: 2700px) {
  #root .information .information__form {
    .blockCountry .blockCountry__wrapList .blockCountry__innerList {
      .blockCountry__list {
        height: 460px;
        top: 75px;
        .blockCountry__item {
          padding: 14px 8px;
        }
      }
      .blockCountry__iconArrow {
        width: 22px;
        height: 15px;
      }
    }
    .blockCheckbox .blockCheckbox__input {
      width: 30px;
      height: 30px;
      border: 2px solid #cccccc;
      &:checked::before {
        outline: 2px solid $light-green;
        border: 3px solid white;
        border-radius: 8px;
      }
    }
  }
}
@media (min-width: 3100px) {
  #root .information {
    grid-row-gap: 60px;
    .information__form {
      grid-row-gap: 60px;
      .blockCountry .blockCountry__wrapList .blockCountry__innerList {
        .blockCountry__list {
          height: 530px;
        }
        .blockCountry__iconArrow {
          width: 25px;
          height: 18px;
        }
      }
      .blockCheckbox .blockCheckbox__input {
        width: 35px;
        height: 35px;
      }
      .orderNote {
        grid-row-gap: 50px;
        .orderNote__innerInput {
          grid-row-gap: 25px;
        }
      }
    }
  }
}
@media (min-width: 3400px) {
  #root .information .information__form {
    .blockCountry .blockCountry__wrapList .blockCountry__innerList {
      .blockCountry__list {
        height: 630px;
        top: 80px;
      }
      .blockCountry__iconArrow {
        width: 27px;
        height: 20px;
      }
    }
    .blockCheckbox .blockCheckbox__input {
      width: 40px;
      height: 40px;
      &:checked::before {
        border-radius: 10px;
      }
    }
  }
}
@media (min-width: 3700px) {
  #root .information .information__form {
    .blockCountry .blockCountry__wrapList .blockCountry__innerList {
      .blockCountry__list {
        height: 730px;
        top: 90px;
        .blockCountry__item {
          padding: 18px 8px;
        }
      }
      .blockCountry__iconArrow {
        width: 30px;
        height: 24px;
      }
    }
    .blockCheckbox .blockCheckbox__input {
      width: 45px;
      height: 45px;
      border: 3px solid #cccccc;
      border-radius: 12px;
      &:checked::before {
        border-radius: 12px;
        outline: 3px solid $light-green;
        border: 4px solid white;
      }
    }
  }
}
@media (max-width: 900px) {
  #root .information .information__form {
    .blockName {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: auto;
      grid-column-gap: 0;
      grid-row-gap: 15px;
    }
    .blockCountry {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: auto;
      grid-column-gap: 0;
      grid-row-gap: 15px;
      .blockCountry__wrapList .blockCountry__innerList {
        padding: 10px 12px;
      }
    }
    .blockEmail {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: auto;
      grid-column-gap: 0;
      grid-row-gap: 15px;
    }
  }
}
