@use "@styles/variables.module.scss" as *;

.sectionTeam {
  padding: 80px 0 80px 0;
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
  align-items: center;
  justify-items: center;
  .sectionTeam__innerTitle {
    width: 40%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 12px;
    align-items: center;
    justify-items: center;
    .sectionTeam__title {
      font-size: 3em;
      color: $dark;
      font-weight: 550;
      text-align: center;
    }
    .sectionTeam__text {
      font-size: 1em;
      color: #666666;
      font-weight: 500;
      text-align: center;
    }
  }
  .sectionTeam__innerCard {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: start;
    .sectionTeam__innerImg {
      width: 100%;
      height: 100%;
      .sectionTeam__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .sectionTeam__innerName {
      display: grid;
      width: 100%;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-row-gap: 4px;
      padding: 20px;
      align-items: center;
      justify-content: start;
      .sectionTeam__name {
        font-size: 1.125em;
        color: $dark;
        font-weight: 550;
      }
      .sectionTeam__position {
        font-size: 0.875em;
        color: #808080;
        font-weight: 500;
      }
    }
  }
}
