@use "@styles/variables.module.scss" as *;

.boxStars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto;
  align-items: center;
  justify-content: start;
  grid-column-gap: 3px;
  position: relative;
  cursor: pointer;
  .boxStars__iconMark {
    display: none;
    position: absolute;
    width: 11px;
    height: 7px;
    left: 1.5%;
    top: 30%;
  }
  .boxStars__iconMark_checked {
    display: grid;
  }
  .boxStars__radio {
    cursor: pointer;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 0;
    }
    &:checked::before {
      background-color: $light-green;
      border-radius: 3px;
      height: 100%;
      width: 100%;
    }
  }
  .boxStars__icon {
    width: 15px;
    height: 14px;
  }
  .boxStars__text {
    font-size: 0.875em;
    color: $dark;
  }
}
