@use "@styles/variables.module.scss" as *;

.popularCategories {
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  padding: 3.125% 0 1.25% 0;
  grid-template-rows: auto auto;
  grid-row-gap: 23px;
  grid-template-columns: auto;
  .popularCategories__sectionTitle {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    .popularCategories__wrapTitle {
      width: 100%;
      display: grid;
      justify-items: start;
      align-items: center;
      .popularCategories__title {
        font-size: 2em;
        font-weight: bold;
        color: $dark;
      }
    }
    .popularCategories__viewAll {
      width: 100%;
      display: grid;
      justify-items: end;
      align-items: center;
      .popularCategories__text {
        font-size: 1em;
        color: $light-green;
        margin-right: 12px;
        transition: all 0.3s;
      }
      .popularCategories__iconArrow {
        width: 15px;
        height: 12px;
        transition: all 0.3s;
      }
    }
  }
  .popularCategories__sectionCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 16%);
    justify-content: start;
    align-items: center;
    grid-column-gap: 0.8%;
    grid-row-gap: 2px;
    .card {
      display: grid;
      justify-items: center;
      align-items: start;
      grid-template-rows: 70% 30%;
      grid-template-columns: auto;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      .card__img {
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
      }
      .card__title {
        color: $dark;
        padding: 16px 0 24px 0;
        font-size: 1.125em;
        font-weight: 600;
      }
    }
    .card_active {
      border: 1px solid $light-green;
      border-radius: 10px;
      .card__title {
        color: $light-green;
      }
    }
  }
}
