@use "@styles/variables.module.scss" as *;

.register {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  .register__container {
    width: 27.083%;
    margin: 80px 0 80px 0;
    box-sizing: border-box;
    padding: 24px 24px 32px 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    .register__title {
      font-size: 2em;
      color: $dark;
      font-weight: bold;
    }
    .register__form {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-row-gap: 20px;
      align-items: center;
      justify-items: center;
      .register__wrapInputs {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 12px;
        align-items: center;
        justify-items: center;
        .register__input {
          box-sizing: border-box;
          width: 100%;
          padding: 14px 16px 14px 16px;
          font-size: 1em;
          color: $dark;
          font-weight: 500;
          appearance: none;
          border-radius: 20px;
          outline: 1px solid transparent;
          &::placeholder {
            font-size: 1em;
            color: #999999;
            font-weight: 500;
          }
        }
        .register__input_login {
          outline: 1px solid red;
          &::placeholder {
            color: red;
          }
        }
        .register__innerInput {
          width: 100%;
          display: grid;
          grid-template-columns: auto 5%;
          grid-template-rows: auto;
          align-items: center;
          justify-items: center;
          border-radius: 20px;
          outline: 1px solid transparent;
          .register__input {
            box-sizing: border-box;
            width: 100%;
            font-size: 1em;
            color: $dark;
            font-weight: 500;
            appearance: none;
            padding: 14px 16px 14px 16px;
            &::placeholder {
              font-size: 1em;
              color: #999999;
              font-weight: 500;
            }
          }
          .register__iconEye {
            width: 16px;
            height: 12px;
            cursor: pointer;
            transition: all 0.3s;
            display: grid;
            justify-items: start;
          }
        }
        .register__innerInput_passRed {
          outline: 1px solid red;
          .register__input::placeholder {
            color: red;
          }
        }
        .register__innerInput_confirmPassRed {
          outline: 1px solid red;
          .register__input::placeholder {
            color: red;
          }
        }
      }
      .register__innerCheckbox {
        transition: all 0.3s;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-top: 4px;
        align-items: center;
        justify-content: start;
        grid-column-gap: 6px;
        color: #666666;
        font-weight: 500;
        font-size: 0.875em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .register__checkbox {
          width: 20px;
          height: 20px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 2px solid #cccccc;
          border-radius: 3px;
          background-color: white;
          position: relative;
        }
        .register__checkbox[type="checkbox"]::before {
          content: "";
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          overflow: hidden;
        }
        .register__checkbox[type="checkbox"]:checked::before {
          height: 100%;
          width: 100%;
          background-color: $light-green;
          border-radius: 5px;
          border: 3px solid white;
          outline: 2px solid $light-green;
          content: "";
        }
      }
      .register__button {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 45px;
        background-color: $light-green;
        border-radius: 43px;
        color: white;
        font-size: 0.875em;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
    .register__innerLink {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 6px;
      align-items: center;
      justify-content: center;
      .register__subtitle {
        color: #666666;
        font-weight: 500;
        font-size: 0.875em;
      }
      .register__link {
        cursor: pointer;
        transition: all 0.3s;
        color: $dark;
        font-weight: bold;
        font-size: 0.875em;
      }
    }
  }
}
