@use "@styles/variables.module.scss" as *;
@media (min-width: 2300px) {
  #root .account .account__container .nav .nav__wrapLink {
    .notActiveLink,
    .activeLink {
      .nav__icon_fill,
      .nav__icon_stroke {
        width: 22px;
        height: 22px;
      }
    }
  }
}
@media (min-width: 2700px) {
  #root .account .account__container .nav {
    grid-row-gap: 20px;
    .nav__wrapLink {
      grid-row-gap: 20px;
      .activeLink,
      .notActiveLink,
      .nav__logOut {
        grid-column-gap: 20px;
        .nav__icon_fill,
        .nav__icon_stroke {
          width: 27px;
          height: 27px;
        }
      }
    }
  }
}
@media (min-width: 3000px) {
  #root .account .account__container .nav .nav__wrapLink {
    .activeLink {
      padding: 20px 0 20px 30px;
      border-left: 3px solid $light-green;
      .nav__icon_fill,
      .nav__icon_stroke {
        width: 29px;
        height: 29px;
      }
    }
    .notActiveLink,
    .nav__logOut {
      padding: 20px 0 20px 30px;
      .nav__icon_fill,
      .nav__icon_stroke {
        width: 29px;
        height: 29px;
      }
    }
  }
}
@media (min-width: 3400px) {
  #root .account .account__container .nav .nav__wrapLink {
    grid-row-gap: 30px;
    .activeLink,
    .notActiveLink,
    .nav__logOut {
      padding: 20px 0 20px 40px;
      .nav__icon_fill,
      .nav__icon_stroke {
        width: 34px;
        height: 34px;
      }
    }
  }
}
@media (max-width: 1000px) {
  #root .account .account__container .nav {
    .nav__title {
      text-align: center;
      padding: 24px 0 16px 0;
    }
    .nav__wrapLink {
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      grid-gap: 10px;
    }
  }
}
@media (max-width: 500px) {
  #root .account .account__container .nav {
    .nav__wrapLink {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      grid-gap: 20px;
      justify-items: center;
    }
  }
}
