@use "@styles/variables.module.scss" as *;

.orderProgress {
  position: relative;
  width: 85.772%;
  margin: 16px 0 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  .orderProgress__wrapTrack {
    position: absolute;
    left: 8%;
    bottom: 45px;
    width: 85%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    .orderProgress__track {
      width: 100%;
      height: 8px;
      background-color: transparent;
      border-radius: 10px;
    }
    .orderProgress__track_green {
      width: 100%;
      height: 8px;
      background-color: $light-green;
      border-radius: 10px;
    }
  }
  .orderProgress__innerPoint {
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    align-items: center;
    justify-items: center;
    .orderProgress__circle {
      background-color: white;
      border-radius: 50px;
      width: 36px;
      height: 36px;
      border: 2px dashed $light-green;
      color: $light-green;
      font-size: 0.875em;
      font-weight: 500;
      display: grid;
      align-items: center;
      justify-items: center;
      .orderProgress__icon {
        display: none;
      }
    }
    .orderProgress__text {
      color: #333333;
      font-size: 0.875em;
      line-height: 150%;
      font-weight: 500;
    }
  }
  .orderProgress__innerPoint {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    align-items: center;
    justify-items: center;
    .orderProgress__circle_green {
      background-color: $light-green;
      border-radius: 50px;
      width: 36px;
      height: 36px;
      border: 2px dashed $light-green;
      color: white;
      font-size: 0.875em;
      font-weight: 500;
      display: grid;
      align-items: center;
      justify-items: center;
      .orderProgress__icon {
        width: 15px;
        height: 11px;
        display: block;
        stroke: white;
      }
    }
    .orderProgress__text_green {
      color: #2c742f;
      font-size: 0.875em;
      line-height: 150%;
      font-weight: 500;
    }
  }
}
