@use "@styles/variables.module.scss" as *;

.notProducts {
  margin-top: 32px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  .notProducts__title {
    text-align: center;
    animation-name: blinking;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: bold;
    font-size: 2em;
    color: $dark;
    opacity: 0.7;
  }
}

@keyframes blinking {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
