@use "@styles/variables.module.scss" as *;

.sectionPayment {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 24px;
  justify-items: start;
  align-items: center;
  .sectionPayment__wrapPay {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: start;
    align-items: center;
    grid-row-gap: 16px;
    .sectionPayment__title {
      width: 100%;
      font-size: 1.25em;
      color: $dark;
      text-align: start;
      font-weight: 550;
      line-height: 150%;
    }
    .sectionPayment__wrapCheckbox {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 10px;
      justify-items: center;
      align-items: center;
      .sectionPayment__innerCheckbox {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-column-gap: 6px;
        justify-content: start;
        align-items: center;
        .sectionPayment__radio {
          width: 20px;
          height: 20px;
          position: relative;
          border: 1px solid $light-green;
          outline: none;
          background-color: transparent;
          appearance: none;
          border-radius: 100%;
          cursor: pointer;
          transition: 0.3s;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
          &:checked::before {
            outline: 1px solid $light-green;
            border: 2px solid white;
            background-color: $light-green;
            border-radius: 100%;
          }
        }
        .sectionPayment__subtitle {
          width: 100%;
          color: #4d4d4d;
          font-size: 0.875em;
          font-weight: 500;
          text-align: start;
          line-height: 150%;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
  }
  .sectionPayment__btnOrder {
    width: 100%;
    height: 51px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 43px;
    color: white;
    background-color: $light-green;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    line-height: 120%;
    transition: 0.3s;
  }
}
