@use "@styles/variables.module.scss" as *;

.blogGallery {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 20px 0 20px 0;
  align-items: center;
  justify-items: start;
  grid-row-gap: 16px;
  .blogGallery__title {
    font-size: 1.25em;
    font-weight: 550;
    color: $dark;
  }
  .blogGallery__wrapImg {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 23.584%);
    grid-template-rows: auto auto;
    grid-gap: 1.886%;
    align-items: center;
    justify-items: center;
    .blogGallery__img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
