@use "@styles/variables.module.scss" as *;

@media (hover: hover) {
  #root .hotDeals {
    .bestSale
      .bestSale__wrapImage
      .bestSale__wrapButtonAcquire
      .btnAddBasket:hover {
      transform: scale(1.1);
      background-color: #1a1a1a;
      .btnAddBasket__title {
        font-size: 1.1em;
      }
    }
    .hotDeals__rowTop .hotDeals__innerArrowLink:hover {
      .hotDeals__textLink {
        color: #1a1a1a;
        font-size: 1.2em;
      }
      .hotDeals__greenArrow {
        stroke: #1a1a1a;
        transform: scale(1.2);
      }
    }
  }
}
@media (hover: none) {
  #root .hotDeals {
    .bestSale
      .bestSale__wrapImage
      .bestSale__wrapButtonAcquire
      .btnAddBasket:active {
      transform: scale(1.1);
      background-color: #1a1a1a;
      .btnAddBasket__title {
        font-size: 1.1em;
      }
    }
    .hotDeals__rowTop .hotDeals__innerArrowLink:active {
      .hotDeals__textLink {
        color: #1a1a1a;
        font-size: 1.2em;
      }
      .hotDeals__greenArrow {
        stroke: #1a1a1a;
        transform: scale(1.2);
      }
    }
  }
}
@media (min-width: 2000px) {
  #root .hotDeals .hotDeals__rowBottom {
    grid-gap: 3px;
    .bestSale {
      .discountProcentSale {
        width: 20%;
        height: 30px;
        border-radius: 10px;
      }
      .bestSale__textSale {
        width: 20%;
        height: 30px;
        left: 25%;
        border-radius: 10px;
      }
      border: 2px solid transparent;
      .bestSale__wrapImage .bestSale__wrapButtonAcquire {
        .btnAddWishlist {
          width: 30px;
          height: 30px;
          .btnAddWishlist__icon {
            width: 25px;
            height: 25px;
          }
        }
        .btnActiveModal {
          width: 30px;
          height: 30px;
          .btnActiveModal__icon {
            width: 25px;
            height: 25px;
          }
        }
        .btnAddBasket {
          height: 55px;
          .btnAddBasket__title {
            font-size: 1.2em;
          }
          .btnAddBasket__icon {
            width: 20px;
            height: 20px;
          }
        }
      }
      .bestSale__wrapPrice .bestSale__innerStars {
        grid-column-gap: 15px;
        .starsRating {
          grid-column-gap: 8px;
          .starsRating__star {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .bestSale_active {
      border: 2px solid $light-green;
    }
    .card {
      border: 2px solid transparent;
      .discountProcentSale {
        width: 35%;
        height: 30px;
        border-radius: 10px;
      }
      .btnAddWishlist {
        width: 45px;
        height: 45px;
        .btnAddWishlist__icon {
          width: 20px;
          height: 20px;
        }
      }
      .btnActiveModal {
        width: 45px;
        height: 45px;
        top: 90px;
        .btnActiveModal__icon {
          width: 20px;
          height: 20px;
        }
      }
      .btnAddBasket {
        width: 45px;
        height: 45px;
        .btnAddBasket__icon {
          width: 20px;
          height: 20px;
        }
      }
      .card__wrapContent {
        .card__innerPrice {
          grid-column-gap: 12px;
        }
        .starsRating {
          grid-column-gap: 8px;
          .starsRating__star {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .card_active {
      border: 2px solid $light-green;
    }
  }
}
@media (min-width: 2300px) {
  #root .hotDeals {
    .hotDeals__rowTop .hotDeals__innerArrowLink .hotDeals__greenArrow {
      width: 22px;
      height: 16px;
    }
    .hotDeals__rowBottom {
      .bestSale {
        .bestSale__textSale {
          width: 20%;
        }
        .bestSale__wrapImage .bestSale__wrapButtonAcquire {
          .btnAddWishlist {
            width: 60px;
            height: 60px;
            .btnAddWishlist__icon {
              width: 25px;
              height: 25px;
            }
          }
          .btnActiveModal {
            width: 60px;
            height: 60px;
            .btnActiveModal__icon {
              width: 25px;
              height: 25px;
            }
          }
          .btnAddBasket {
            height: 55px;
            .btnAddBasket__title {
              font-size: 1.4em;
            }
            .btnAddBasket__icon {
              width: 20px;
              height: 20px;
            }
          }
        }
        .bestSale__wrapPrice
          .bestSale__innerStars
          .starsRating
          .starsRating__star {
          width: 15px;
          height: 15px;
        }
      }
      .card {
        .btnAddWishlist {
          width: 50px;
          height: 50px;
        }
        .btnActiveModal {
          width: 50px;
          height: 50px;
        }
        .btnAddBasket {
          width: 50px;
          height: 50px;
        }
        .card__wrapContent .starsRating {
          grid-column-gap: 8px;
          .starsRating__star {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
@media (min-width: 2500px) {
  #root .hotDeals {
    .hotDeals__rowTop .hotDeals__innerArrowLink .hotDeals__greenArrow {
      width: 24px;
      height: 18px;
    }
    .hotDeals__rowBottom {
      .bestSale {
        .discountProcentSale {
          height: 35px;
        }
        .bestSale__textSale {
          height: 35px;
        }
        .bestSale__wrapImage
          .bestSale__wrapButtonAcquire
          .btnAddBasket
          .btnAddBasket__title {
          font-size: 1.6em;
        }
        .bestSale__wrapPrice
          .bestSale__innerStars
          .starsRating
          .starsRating__star {
          width: 15px;
          height: 14px;
        }
      }
      .card {
        .btnAddWishlist {
          width: 55px;
          height: 55px;
          .btnAddWishlist__icon {
            width: 25px;
            height: 25px;
          }
        }
        .btnActiveModal {
          width: 55px;
          height: 55px;
          top: 110px;
          .btnActiveModal__icon {
            width: 25px;
            height: 25px;
          }
        }
        .btnAddBasket {
          width: 55px;
          height: 55px;
          .btnAddBasket__icon {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
@media (min-width: 2700px) {
  #root .hotDeals .hotDeals__rowBottom {
    .bestSale {
      .bestSale__wrapPrice
        .bestSale__innerStars
        .starsRating
        .starsRating__star {
        width: 20px;
        height: 20px;
      }
      .bestSale__wrapImage .bestSale__wrapButtonAcquire {
        .btnAddWishlist {
          width: 75px;
          height: 75px;
          .btnAddWishlist__icon {
            width: 30px;
            height: 30px;
          }
        }
        .btnActiveModal {
          width: 75px;
          height: 75px;
          .btnActiveModal__icon {
            width: 30px;
            height: 30px;
          }
        }
        .btnAddBasket {
          height: 60px;
          .btnAddBasket__title {
            font-size: 1.8em;
          }
          .btnAddBasket__icon {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .card {
      .btnAddWishlist {
        width: 60px;
        height: 60px;
      }
      .btnActiveModal {
        width: 60px;
        height: 60px;
      }
      .btnAddBasket {
        width: 60px;
        height: 60px;
      }
    }
  }
}
@media (min-width: 3100px) {
  #root .hotDeals {
    .hotDeals__rowTop .hotDeals__innerArrowLink .hotDeals__greenArrow {
      width: 26px;
      height: 24px;
    }
    .hotDeals__rowBottom {
      .bestSale {
        .discountProcentSale {
          height: 50px;
        }
        .bestSale__textSale {
          height: 50px;
        }
        .bestSale__wrapImage .bestSale__wrapButtonAcquire {
          .btnAddWishlist {
            width: 85px;
            height: 85px;
            .btnAddWishlist__icon {
              width: 35px;
              height: 35px;
            }
          }
          .btnActiveModal {
            width: 85px;
            height: 85px;
            .btnActiveModal__icon {
              width: 35px;
              height: 35px;
            }
          }
          .btnAddBasket {
            height: 80px;
            .btnAddBasket__title {
              font-size: 2em;
            }
          }
        }
      }
      .card {
        .discountProcentSale {
          height: 50px;
        }
        .btnAddWishlist {
          width: 70px;
          height: 70px;
          .btnAddWishlist__icon {
            width: 30px;
            height: 30px;
          }
        }
        .btnActiveModal {
          width: 70px;
          height: 70px;
          top: 120px;
          .btnActiveModal__icon {
            width: 30px;
            height: 30px;
          }
        }
        .btnAddBasket {
          width: 70px;
          height: 70px;
          .btnAddBasket__icon {
            width: 30px;
            height: 30px;
          }
        }
        .card__wrapContent .starsRating .starsRating__star {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
@media (min-width: 3300px) {
  #root .hotDeals .hotDeals__rowBottom {
    .bestSale {
      .discountProcentSale {
        border-radius: 12px;
      }
      .bestSale__textSale {
        border-radius: 12px;
      }
      .bestSale__wrapPrice
        .bestSale__innerStars
        .starsRating
        .starsRating__star {
        width: 22px;
        height: 22px;
      }
    }
    .card {
      .discountProcentSale {
        border-radius: 12px;
      }
      .btnAddWishlist {
        width: 75px;
        height: 75px;
      }
      .btnActiveModal {
        top: 130px;
        width: 75px;
        height: 75px;
      }
      .btnAddBasket {
        width: 75px;
        height: 75px;
      }
      .card__wrapContent .starsRating .starsRating__star {
        width: 20px;
        height: 20px;
      }
    }
  }
}
@media (min-width: 3700px) {
  #root .hotDeals {
    .hotDeals__rowTop .hotDeals__innerArrowLink {
      grid-column-gap: 25px;
      .hotDeals__greenArrow {
        width: 30px;
        height: 28px;
      }
    }
    .hotDeals__rowBottom {
      grid-gap: 5px;
      .bestSale {
        border: 3px solid transparent;
        .bestSale__wrapImage .bestSale__wrapButtonAcquire {
          .btnAddWishlist {
            width: 100px;
            height: 100px;
            .btnAddWishlist__icon {
              width: 45px;
              height: 45px;
            }
          }
          .btnActiveModal {
            width: 100px;
            height: 100px;
            .btnActiveModal__icon {
              width: 45px;
              height: 45px;
            }
          }
          .btnAddBasket {
            height: 100px;
            border-radius: 50px;
            .btnAddBasket__title {
              font-size: 2.4em;
            }
            .btnAddBasket__icon {
              width: 40px;
              height: 40px;
            }
          }
        }
        .bestSale__wrapPrice
          .bestSale__innerStars
          .starsRating
          .starsRating__star {
          width: 25px;
          height: 25px;
        }
      }
      .bestSale_active {
        border: 3px solid $light-green;
      }
      .card {
        border: 3px solid transparent;
        .card__wrapContent .starsRating .starsRating__star {
          width: 25px;
          height: 25px;
        }
        .btnAddWishlist {
          width: 80px;
          height: 80px;
          .btnAddWishlist__icon {
            width: 35px;
            height: 35px;
          }
        }
        .btnActiveModal {
          width: 80px;
          height: 80px;
          top: 150px;
          .btnActiveModal__icon {
            width: 35px;
            height: 35px;
          }
        }
        .btnAddBasket {
          width: 80px;
          height: 80px;
          .btnAddBasket__icon {
            width: 35px;
            height: 35px;
          }
        }
      }
      .card_active {
        border: 3px solid $light-green;
      }
    }
  }
}
@media (max-width: 1600px) {
  #root .hotDeals .hotDeals__rowBottom {
    .bestSale {
      .discountProcentSale {
        width: 20%;
      }
      .bestSale__textSale {
        width: 20%;
        left: 27%;
      }
    }
    .card {
      .discountProcentSale {
        width: 35%;
      }
      .btnAddWishlist {
        top: 10px;
        right: 10px;
      }
      .btnActiveModal {
        top: 70px;
        right: 10px;
      }
      .btnAddBasket {
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
@media (max-width: 1400px) {
  #root .hotDeals .hotDeals__rowBottom .card .discountProcentSale {
    width: 40%;
  }
}
@media (max-width: 1300px) {
  #root .hotDeals {
    width: 95%;
    .hotDeals__rowTop .hotDeals__innerArrowLink .hotDeals__greenArrow {
      width: 12px;
      height: 10px;
    }
    .hotDeals__rowBottom .card {
      .btnAddWishlist {
        width: 35px;
        height: 35px;
      }
      .btnActiveModal {
        width: 35px;
        height: 35px;
      }
      .btnAddBasket {
        width: 35px;
        height: 35px;
      }
    }
  }
}
@media (max-width: 900px) {
  #root .hotDeals .hotDeals__rowBottom {
    grid-template-rows: repeat(5, 19.876%);
    grid-template-columns: repeat(3, 33.04%);
    .bestSale {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
    }
    .card:nth-child(2) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .card:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    .card:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .card:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .card:nth-child(6) {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
    .card:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .card:nth-child(8) {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
    .card:nth-child(9) {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }
    .card:nth-child(10) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
    .card:nth-child(11) {
      grid-column: 2 / 3;
      grid-row: 5 / 6;
    }
    .card:nth-child(12) {
      grid-column: 3 / 4;
      grid-row: 5 / 6;
    }
  }
}
@media (max-width: 700px) {
  #root .hotDeals .hotDeals__rowBottom {
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    grid-template-rows: none;
    .bestSale {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    .card {
      grid-column: none;
      grid-row: none;
      .discountProcentSale {
        width: 40%;
      }
      .card__wrapImg {
        padding: 0;
      }
      .card__wrapContent {
        padding-top: 0;
      }
    }
    .card:nth-child(2),
    .card:nth-child(3),
    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6),
    .card:nth-child(7),
    .card:nth-child(8),
    .card:nth-child(9),
    .card:nth-child(10),
    .card:nth-child(11),
    .card:nth-child(12) {
      grid-column: auto;
      grid-row: auto;
    }
  }
}
@media (max-width: 500px) {
  #root .hotDeals .hotDeals__rowBottom {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-items: center;
    .bestSale {
      grid-column: auto;
      grid-row: auto;
    }
    .card {
      width: 90%;
      .discountProcentSale {
        width: 30%;
      }
      .btnActiveModal {
        top: 100px;
      }
    }
  }
}
