@use "@styles/variables.module.scss" as *;

@media (hover: hover) {
  #root
    .featuredProducts
    .featuredProducts__head
    .featuredProducts__innerLink:hover {
    .featuredProducts__textLink {
      color: #1a1a1a;
      font-size: 1.2em;
    }
    .featuredProducts__iconArrow {
      stroke: #1a1a1a;
      transform: scale(1.2);
    }
  }
}
@media (hover: none) {
  #root
    .featuredProducts
    .featuredProducts__head
    .featuredProducts__innerLink:active {
    .featuredProducts__textLink {
      color: #1a1a1a;
      font-size: 1.2em;
    }
    .featuredProducts__iconArrow {
      stroke: #1a1a1a;
      transform: scale(1.2);
    }
  }
}
@media (min-width: 2000px) {
  #root .featuredProducts .featuredProducts__wrapProducts {
    grid-column-gap: 3px;
    .card {
      border: 2px solid transparent;
      .discountProcentSale {
        height: 30px;
        width: 35%;
        border-radius: 10px;
      }
      .btnAddWishlist {
        width: 45px;
        height: 45px;
        .btnAddWishlist__icon {
          width: 20px;
          height: 20px;
        }
      }
      .btnActiveModal {
        width: 45px;
        height: 45px;
        top: 90px;
        .btnActiveModal__icon {
          width: 20px;
          height: 20px;
        }
      }
      .btnAddBasket {
        width: 45px;
        height: 45px;
        .btnAddBasket__icon {
          width: 20px;
          height: 20px;
        }
      }
      .card__wrapContent {
        .card__innerPrice {
          grid-column-gap: 12px;
        }
        .starsRating {
          grid-column-gap: 8px;
          .starsRating__star {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .card_active {
      border: 2px solid $light-green;
    }
  }
}
@media (min-width: 2300px) {
  #root .featuredProducts {
    .featuredProducts__head
      .featuredProducts__innerLink
      .featuredProducts__iconArrow {
      width: 22px;
      height: 16px;
    }
    .featuredProducts__wrapProducts .card {
      .btnAddWishlist {
        width: 50px;
        height: 50px;
      }
      .btnActiveModal {
        width: 50px;
        height: 50px;
      }
      .btnAddBasket {
        width: 50px;
        height: 50px;
      }
      .card__wrapContent .starsRating .starsRating__star {
        width: 15px;
        height: 15px;
      }
    }
  }
}
@media (min-width: 2500px) {
  #root .featuredProducts .featuredProducts__wrapProducts .card {
    .discountProcentSale {
      height: 35px;
    }
    .btnAddWishlist {
      width: 55px;
      height: 55px;
      .btnAddWishlist__icon {
        width: 25px;
        height: 25px;
      }
    }
    .btnActiveModal {
      width: 55px;
      height: 55px;
      top: 110px;
      .btnActiveModal__icon {
        width: 25px;
        height: 25px;
      }
    }
    .btnAddBasket {
      width: 55px;
      height: 55px;
      .btnAddBasket__icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media (min-width: 2700px) {
  #root .featuredProducts .featuredProducts__wrapProducts .card {
    .btnAddWishlist {
      width: 60px;
      height: 60px;
    }
    .btnActiveModal {
      width: 60px;
      height: 60px;
    }
    .btnAddBasket {
      width: 60px;
      height: 60px;
    }
  }
}
@media (min-width: 3100px) {
  #root .featuredProducts {
    .featuredProducts__head
      .featuredProducts__innerLink
      .featuredProducts__iconArrow {
      width: 26px;
      height: 24px;
    }
    .featuredProducts__wrapProducts .card {
      .discountProcentSale {
        height: 40px;
      }
      .btnAddWishlist {
        width: 70px;
        height: 70px;
        .btnAddWishlist__icon {
          width: 30px;
          height: 30px;
        }
      }
      .btnActiveModal {
        width: 70px;
        height: 70px;
        top: 120px;
        .btnActiveModal__icon {
          width: 30px;
          height: 30px;
        }
      }
      .btnAddBasket {
        width: 70px;
        height: 70px;
        .btnAddBasket__icon {
          width: 30px;
          height: 30px;
        }
      }
      .card__wrapContent .starsRating .starsRating__star {
        width: 18px;
        height: 18px;
      }
    }
  }
}
@media (min-width: 3300px) {
  #root .featuredProducts .featuredProducts__wrapProducts .card {
    .discountProcentSale {
      border-radius: 12px;
    }
    .btnAddWishlist {
      width: 75px;
      height: 75px;
    }
    .btnActiveModal {
      top: 130px;
      width: 75px;
      height: 75px;
    }
    .btnAddBasket {
      width: 75px;
      height: 75px;
    }
    .card__wrapContent .starsRating .starsRating__star {
      width: 20px;
      height: 20px;
    }
  }
}
@media (min-width: 3700px) {
  #root .featuredProducts {
    .featuredProducts__head .featuredProducts__innerLink {
      grid-column-gap: 25px;
      .featuredProducts__iconArrow {
        width: 30px;
        height: 28px;
      }
    }
    .featuredProducts__wrapProducts {
      grid-column-gap: 5px;
      .card {
        border: 3px solid transparent;
        .discountProcentSale {
          height: 45px;
        }
        .card__wrapContent .starsRating .starsRating__star {
          width: 25px;
          height: 25px;
        }
        .btnAddWishlist {
          width: 80px;
          height: 80px;
          .btnAddWishlist__icon {
            width: 35px;
            height: 35px;
          }
        }
        .btnActiveModal {
          width: 80px;
          height: 80px;
          top: 150px;
          .btnActiveModal__icon {
            width: 35px;
            height: 35px;
          }
        }
        .btnAddBasket {
          width: 80px;
          height: 80px;
          .btnAddBasket__icon {
            width: 35px;
            height: 35px;
          }
        }
      }
      .card_active {
        border: 3px solid $light-green;
      }
    }
  }
}
@media (max-width: 1600px) {
  #root .featuredProducts .featuredProducts__wrapProducts .card {
    .discountProcentSale {
      width: 40%;
    }
    .btnAddWishlist {
      right: 10px;
      top: 10px;
    }
    .btnActiveModal {
      right: 10px;
      top: 70px;
    }
    .btnAddBasket {
      right: 10px;
      bottom: 10px;
    }
  }
}
@media (max-width: 1300px) {
  #root .featuredProducts {
    width: 95%;
    grid-row-gap: 15px;
    .featuredProducts__wrapProducts .card {
      .discountProcentSale {
        width: 38%;
      }
      .btnAddWishlist {
        width: 35px;
        height: 35px;
      }
      .btnActiveModal {
        width: 35px;
        height: 35px;
      }
      .btnAddBasket {
        width: 35px;
        height: 35px;
      }
    }
  }
}
@media (max-width: 900px) {
  #root .featuredProducts .featuredProducts__wrapProducts {
    grid-template-columns: repeat(6, 16.069%);
    grid-gap: 2px;
    grid-template-rows: auto auto;
    .card:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    .card:nth-child(2) {
      grid-column: 3 / 5;
      grid-row: 1 / 2;
    }
    .card:nth-child(3) {
      grid-column: 5 / 7;
      grid-row: 1 / 2;
    }
    .card:nth-child(4) {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      .btnActiveModal {
        top: 90px;
      }
    }
    .card:nth-child(5) {
      grid-column: 4 / 7;
      grid-row: 2 / 3;
      .btnActiveModal {
        top: 90px;
      }
    }
  }
}
@media (max-width: 700px) {
  #root .featuredProducts .featuredProducts__wrapProducts {
    grid-auto-rows: auto;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 3px;
    grid-row-gap: 15px;
    .card:nth-child(1) {
      grid-row: auto;
      grid-column: auto;
    }
    .card:nth-child(2) {
      grid-row: auto;
      grid-column: auto;
    }
    .card:nth-child(3) {
      grid-row: auto;
      grid-column: auto;
    }
    .card:nth-child(4) {
      grid-row: auto;
      grid-column: auto;
    }
    .card:nth-child(5) {
      grid-row: auto;
      grid-column: auto;
    }
  }
}
@media (max-width: 500px) {
  #root .featuredProducts .featuredProducts__wrapProducts {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    .card {
      .discountProcentSale {
        width: 30%;
      }
      .btnActiveModal {
        top: 90px;
      }
    }
  }
}
