.modal {
  z-index: 1000;
  width: 100vw;
  height: 100dvh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.5s all;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .modal__content {
    width: 68.75%;
    color: black;
    opacity: 1;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .modal__content.active {
    transform: scale(1);
  }
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
