@use "@styles/variables.module.scss" as *;

.instagramSection {
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  .instagramSection__title {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2.42% 0 2.42% 0;
    width: 100%;
    color: $dark;
    font-size: 2em;
    font-weight: bold;
  }
  .instagramSection__wrapContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 15.151%);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-column-gap: 1.818%;
    .instagramSection__wrapImage {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      .instagramSection__background {
        display: none;
        justify-items: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(43, 87, 46, 50%);
        z-index: 10;
        border-radius: 10px;
        .instagramSection__iconInstagram {
          width: 24px;
          height: 24px;
        }
      }
      .instagramSection__background_active {
        display: grid;
      }

      .instagramSection__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
