@use "@styles/variables.module.scss" as *;

.postCategories {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  align-items: start;
  justify-items: start;
  .postCategories__title {
    width: 100%;
    font-size: 1.25em;
    color: $dark;
    font-weight: 550;
  }
  .postCategories__wrapCategory {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-row-gap: 16px;
    align-items: center;
    justify-items: start;
    .postCategories__innerCategory {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      align-items: center;
      justify-items: start;
      .postCategories__name {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.875em;
        color: $dark;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 30px;
        padding: 2px 10px 2px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }
}
