@media (min-width: 2500px) {
  #root .companiesLogo .companiesLogo__column {
    width: 110%;
    height: 110%;
    .companiesLogo__img {
      width: 110%;
      height: 110%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
}
@media (min-width: 3100px) {
  #root .companiesLogo .companiesLogo__column {
    width: 120%;
    height: 120%;
    .companiesLogo__img {
      width: 120%;
      height: 120%;
    }
  }
}
@media (max-width: 1300px) {
  #root .companiesLogo {
    width: 95%;
  }
}
@media (max-width: 900px) {
  #root .companiesLogo {
    width: 80%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    .companiesLogo__column .companiesLogo__img {
      width: 85%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
}
@media (max-width: 500px) {
  #root .companiesLogo {
    height: auto;
    width: 80%;
    padding-bottom: 50px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 80px;
    justify-content: center;
  }
}
