@use "@styles/variables.module.scss" as *;

.sectionSubscribe {
  width: 68.75%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 38% 40% auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  .sectionSubscribe__innerTitle {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: start;
    align-items: center;
    grid-row-gap: 4px;
    .sectionSubscribe__title {
      width: 100%;
      color: $dark;
      font-size: 1.5em;
      text-align: start;
      font-weight: bold;
      line-height: 150%;
    }
    .sectionSubscribe__subtitle {
      width: 80%;
      color: #999999;
      font-weight: 500;
      text-align: start;
      line-height: 150%;
      font-size: 0.875em;
    }
  }
}
