@use "@styles/variables.module.scss" as *;

.postRecentlyAdded {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  align-items: center;
  justify-items: start;
  .postRecentlyAdded__title {
    font-size: 1.25em;
    font-weight: 550;
    color: $dark;
  }
  .postRecentlyAdded__wrapPost {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 16px;
    align-items: center;
    justify-items: start;
    .postRecentlyAdded__innerPost {
      width: 100%;
      display: grid;
      grid-template-columns: 23.584% auto;
      grid-template-rows: auto;
      grid-column-gap: 12px;
      align-items: center;
      justify-items: start;
      .postRecentlyAdded__wrapImg {
        width: 100%;
        height: 100%;
        .postRecentlyAdded__img {
          width: 100%;
          height: 90px;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 8px;
        }
      }
      .postRecentlyAdded__descriptionPost {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 8px;
        align-items: center;
        justify-items: start;
        .postRecentlyAdded__subtitle {
          font-size: 1em;
          color: $dark;
          font-weight: 550;
          height: auto;
        }
        .postRecentlyAdded__innerDate {
          width: 100%;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          grid-column-gap: 8px;
          align-items: center;
          justify-content: start;
          .postRecentlyAdded__icon {
            width: 14px;
            height: 15px;
          }
          .postRecentlyAdded__date {
            font-size: 0.875em;
            color: #666666;
            font-weight: 500;
          }
        }
      }
    }
  }
}
