@use "@styles/variables.module.scss" as *;

.description {
  width: 68.75%;
  margin: 0 auto;
  padding: 80px 0 80px 0;
  display: grid;
  grid-template-columns: 41.6% 53.8%;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  grid-column-gap: 4.393%;
  .description__innerTitle {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
    justify-items: start;
    grid-row-gap: 32px;
    .description__title {
      width: 100%;
      color: $dark;
      font-size: 3.5em;
      font-weight: bold;
      text-align: center;
    }
    .description__text {
      color: #666666;
      font-size: 1.125em;
      font-weight: 500;
      width: 100%;
    }
  }
  .description__innerImg {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    .description__img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
