@use "@styles/variables.module.scss" as *;

.blockEmail {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2%;
  justify-items: center;
  align-items: center;
  .blockEmail__wrapInput {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    grid-row-gap: 8px;
    .blockEmail__title {
      width: 100%;
      font-size: 0.875em;
      font-weight: 500;
      color: $dark;
      text-align: start;
    }
    .blockEmail__input {
      width: 100%;
      outline: none;
      appearance: none;
      box-sizing: border-box;
      padding: 14px 16px;
      font-size: 1em;
      color: $dark;
      text-align: start;
      &::placeholder {
        font-size: 1em;
        color: #999999;
        text-align: start;
      }
    }
  }
}
