@use "@styles/variables.module.scss" as *;

.pagination {
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  .pagination__wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-left: 25.454%;
    display: grid;
    justify-items: center;
    align-items: center;
    .pagination__innerPage {
      width: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-rows: auto;
      grid-auto-flow: column;
      grid-column-gap: 3px;
      .pagination__iconArrowLeft {
        width: 14px;
        height: 8px;
        transform: rotate(90deg);
        margin-right: 12px;
        cursor: pointer;
        transition: all 0.3s;
      }
      .pagination__iconArrowRight {
        width: 14px;
        height: 8px;
        transform: rotate(-90deg);
        margin-left: 12px;
        cursor: pointer;
        transition: all 0.3s;
      }
      .pagination__points {
        margin: 0 12px 0 12px;
        font-weight: 500;
        color: $dark;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .pagination__number {
        width: 36px;
        height: 36px;
        font-size: 1em;
        font-weight: 500;
        color: #666666;
        display: grid;
        align-items: center;
        justify-items: center;
        cursor: pointer;
        border-radius: 50%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 0.3s;
      }
      .pagination__number_active {
        background-color: $light-green;
        color: white;
      }
    }
  }
}
