@use "@styles/variables.module.scss" as *;
.sliderImage {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  .sliderImage__innerArrowUp {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    .sliderImage__arrowUp {
      width: 14px;
      height: 7px;
      transition: all 0.2s;
    }
  }
  .sliderImage__wrapImages {
    position: relative;
    width: 100%;
    padding: 70% 0 70% 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 3px;
    .sliderImage__img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border: 1px solid transparent;
    }
    .sliderImage__img_light {
      border: 1px solid $light-green;
    }
  }
  .sliderImage__innerArrowDown {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    .sliderImage__arrowDown {
      width: 14px;
      height: 7px;
      transition: all 0.2s;
    }
  }
}
