@use "@styles/variables.module.scss" as *;

.popularProducts {
  padding-top: 3.125%;
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  padding-bottom: 3.125%;
  .popularProducts__blockTitle {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    .popularProducts__title {
      display: grid;
      width: 100%;
      justify-items: start;
      align-items: center;
      color: $dark;
      font-size: 2em;
      font-weight: 600;
    }
    .popularProducts__view {
      width: 100%;
      display: grid;
      justify-items: end;
      align-items: center;
      .popularProducts__viewLink {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-column-gap: 12px;
        .popularProducts__viewText {
          display: grid;
          width: 100%;
          justify-items: end;
          align-items: center;
          color: $light-green;
          font-size: 1em;
          transition: all 0.3s;
        }
        .popularProducts__iconArrow {
          width: 15px;
          height: 12px;
          transition: all 0.3s;
        }
      }
    }
  }
  .popularProducts__blockProducts {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 19.878%);
    grid-template-rows: auto auto;
    grid-gap: 2px;
  }
}
