@layer component {
  .home {
    min-height: 100lvh;
    font-size: 1rem;
    padding-inline: clamp(16px, 3.125cqw, 24px);
    padding-top: clamp(16px, 3.125cqw, 24px);
    padding-bottom: clamp(48px, 10.41cqw, 80px);
    width: 100%;
    background-color: var(--neutral-900);
    font-family: var(--dm-sans);
    .home__wrapper_grid {
      width: 100%;
      .home__column_one {
        width: 100%;
      }
      .home__column_two {
        width: 100%;
      }
    }
  }
  @container (min-width: 768px) {
    .home {
      padding-inline: clamp(24px, calc(24px + (100cqw - 768px) * 0.13), 112px);
      padding-top: clamp(24px, calc(24px + (100cqw - 768px) * 0.035), 48px);
    }
  }
  @container (min-width: 1440px) {
    .home {
      padding-inline: clamp(
        112px,
        calc(112px + (100cqw - 1440px) * 0.183),
        200px
      );
      .home__wrapper_grid {
        display: grid;
        grid-template-columns: auto 31.57%;
        column-gap: 32px;
        grid-template-rows: auto;
      }
    }
  }
  @container (min-width: 1920px) {
    .home {
      font-size: 1.2rem;
      padding-inline: clamp(
        200px,
        calc(200px + (100cqw - 1920px) * 0.156),
        300px
      );
      .home__wrapper_grid {
        column-gap: 60px;
      }
    }
  }
  @container (min-width: 2000px) {
    .home {
      font-size: 1.4rem;
    }
  }
}
