@use "@styles/variables.module.scss" as *;

.sectionDeliver {
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 37.878% auto;
  grid-column-gap: 2.196%;
  grid-template-rows: auto;
  .sectionDeliver__wrapContent {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: start;
    .sectionDeliver__innerTitle {
      align-items: center;
      justify-items: start;
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-row-gap: 24px;
      .sectionDeliver__title {
        font-size: 3em;
        color: $dark;
        font-weight: bold;
        text-align: center;
      }
      .sectionDeliver__text {
        font-size: 1em;
        color: #666666;
        font-weight: 500;
      }
    }
    .sectionDeliver__wrapBtn {
      width: 100%;
      display: grid;
      align-items: center;
      justify-items: start;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      grid-row-gap: 16px;
      .sectionDeliver__string {
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: start;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-column-gap: 8px;
        .sectionDeliver__iconMark {
          width: 13px;
          height: 13px;
        }
      }
      a {
        width: 38.4%;
        .btnShop {
          position: static;
          width: 100%;
          height: 51px;
          background-color: $light-green;
          border-radius: 43px;
          grid-column-gap: 16px;
          color: white;
          .btnShop__arrow {
            width: 15px;
            height: 12px;
            stroke: white;
          }
        }
      }
    }
  }
  .sectionDeliver__innerImg {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    .sectionDeliver__img {
      width: 100%;
      height: 100%;
    }
  }
}
