@use "./mediaBlogCategories.module.scss";
@use "./mediaBlogRecentlyAdded.module.scss";

@media (hover: hover) {
  #root .blog {
    .navigate .navigate__wrap .navigate__linkHome .navigate__iconHouse:hover {
      transform: scale(1.2);
    }
    .sortProduct {
      .sortProduct__buttonFilter:hover {
        transform: scale(1.1);
        background-color: #1a1a1a;
      }
      .sortProduct__wrapSorted
        .sortProduct__innerSort
        .sortProduct__innerList:hover {
        .sortProduct__listSort .sortProduct__point_selected {
          transform: scale(1.1);
        }
      }
    }
    .blog__gridContainer .blog__wrapPosts {
      .blog__innerPosts .post .post__wrapContent .post__innerBtn:hover {
        .post__textBtn {
          transform: scale(1.1);
          color: #1a1a1a;
        }
        .post__iconArrowRight {
          transform: scale(1.2);
          stroke: #1a1a1a;
        }
      }
    }
    .blogCategories
      .blogCategories__wrapCategory
      .blogCategories__innerCategory
      .blogCategories__name:hover {
      transform: scale(1.1);
    }
    .blogTags .blogTags__innerTags .blogTags__tag:hover {
      transform: scale(1.1);
    }
    .pagination
      .pagination__wrapper
      .pagination__innerPage
      .pagination__number:hover {
      transform: scale(1.1);
    }
  }
}
@media (hover: none) {
  #root .blog {
    .navigate .navigate__wrap .navigate__linkHome .navigate__iconHouse:active {
      transform: scale(1.2);
    }
    .sortProduct {
      .sortProduct__buttonFilter:active {
        transform: scale(1.1);
        background-color: #1a1a1a;
      }
      .sortProduct__wrapSorted
        .sortProduct__innerSort
        .sortProduct__innerList:active {
        .sortProduct__listSort .sortProduct__point_selected {
          transform: scale(1.1);
        }
      }
    }
    .blog__gridContainer .blog__wrapPosts {
      .blog__innerPosts .post .post__wrapContent .post__innerBtn:active {
        .post__textBtn {
          transform: scale(1.1);
          color: #1a1a1a;
        }
        .post__iconArrowRight {
          transform: scale(1.2);
          stroke: #1a1a1a;
        }
      }
    }
    .blogCategories
      .blogCategories__wrapCategory
      .blogCategories__innerCategory
      .blogCategories__name:active {
      transform: scale(1.1);
    }
    .blogTags .blogTags__innerTags .blogTags__tag:active {
      transform: scale(1.1);
    }
  }
}
@media (min-width: 2000px) {
  #root .blog {
    font-size: 1.2em;
    .sortProduct {
      grid-template-columns: 12% auto;
      grid-column-gap: 22%;
      .sortProduct__wrapSorted .sortProduct__innerSort .sortProduct__innerList {
        .sortProduct__iconArrow {
          width: 14px;
          height: 10px;
        }
        .sortProduct__listSort {
          width: 200px;
          height: 25px;
          .sortProduct__point {
            padding: 10px;
          }
          .sortProduct__point_active {
            border: 2px solid #1a1a1a;
          }
        }
      }
      .sortProduct__buttonFilter {
        height: 55px;
        grid-column-gap: 18px;
        .sortProduct__buttonFilterText {
          font-size: 1.3em;
        }
      }
    }
    .blog__gridContainer .blog__wrapPosts {
      .blog__innerPosts .post {
        .post__wrapImage .post__innerDate {
          width: 65px;
          height: 65px;
        }
        .post__wrapContent {
          .post__innerBtn {
            grid-column-gap: 18px;
            .post__iconArrowRight {
              width: 18px;
              height: 15px;
            }
          }
          .post__innerTag {
            .post__tag .post__iconTag {
              width: 24px;
              height: 20px;
            }
            .post__user .post__iconUser {
              width: 24px;
              height: 20px;
            }
            .post__comment .post__iconComment {
              width: 24px;
              height: 20px;
            }
          }
        }
      }
      .pagination .pagination__wrapper .pagination__innerPage {
        grid-column-gap: 6px;
        .pagination__iconArrowLeft {
          width: 20px;
          height: 12px;
          margin-right: 20px;
        }
        .pagination__iconArrowRight {
          width: 20px;
          height: 12px;
          margin-left: 20px;
        }
        .pagination__number {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
@media (min-width: 2300px) {
  #root .blog {
    font-size: 1.4em;
    .sortProduct .sortProduct__buttonFilter {
      height: 65px;
      .sortProduct__buttonFilterText {
        font-size: 1.5em;
      }
      .sortProduct__buttonFilterIcon {
        width: 24px;
        height: 20px;
      }
    }
    .blog__gridContainer .blog__wrapPosts .blog__innerPosts .post {
      .post__wrapImage .post__innerDate {
        width: 70px;
        height: 70px;
      }
      .post__wrapContent .post__innerTag {
        grid-column-gap: 22px;
      }
    }
  }
}
@media (min-width: 2700px) {
  #root .blog {
    font-size: 1.6em;
    .sortProduct {
      .sortProduct__wrapSorted .sortProduct__innerSort .sortProduct__innerList {
        .sortProduct__iconArrow {
          width: 18px;
          height: 14px;
        }
        .sortProduct__listSort {
          height: 30px;
          width: 300px;
        }
      }
      .sortProduct__buttonFilter {
        height: 75px;
        .sortProduct__buttonFilterText {
          font-size: 1.8em;
        }
        .sortProduct__buttonFilterIcon {
          width: 28px;
          height: 22px;
        }
      }
    }
    .blog__gridContainer .blog__wrapPosts {
      .blog__innerPosts .post {
        .post__wrapImage .post__innerDate {
          width: 80px;
          height: 80px;
        }
        .post__wrapContent {
          .post__innerBtn {
            grid-column-gap: 24px;
            .post__iconArrowRight {
              width: 22px;
              height: 18px;
            }
          }
          .post__innerTag {
            .post__tag {
              grid-column-gap: 10px;
              .post__iconTag {
                width: 30px;
                height: 26px;
              }
            }
            .post__user {
              grid-column-gap: 10px;
              .post__iconUser {
                width: 30px;
                height: 26px;
              }
            }
            .post__comment {
              grid-column-gap: 10px;
              .post__iconComment {
                width: 30px;
                height: 26px;
              }
            }
          }
        }
      }
      .pagination .pagination__wrapper .pagination__innerPage {
        grid-column-gap: 20px;
        .pagination__iconArrowLeft {
          width: 25px;
          height: 20px;
        }
        .pagination__iconArrowRight {
          width: 25px;
          height: 20px;
        }
        .pagination__number {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
@media (min-width: 3100px) {
  #root .blog {
    font-size: 1.8em;
    .sortProduct {
      .sortProduct__wrapSorted .sortProduct__innerSort .sortProduct__innerList {
        .sortProduct__iconArrow {
          width: 22px;
          height: 18px;
        }
        .sortProduct__listSort {
          height: 35px;
          width: 340px;
        }
      }
      .sortProduct__buttonFilter {
        .sortProduct__buttonFilterText {
          font-size: 2em;
        }
        .sortProduct__buttonFilterIcon {
          width: 34px;
          height: 28px;
        }
      }
    }
    .blog__gridContainer
      .blog__wrapPosts
      .blog__innerPosts
      .post
      .post__wrapImage
      .post__innerDate {
      width: 90px;
      height: 90px;
    }
  }
}
@media (min-width: 3400px) {
  #root .blog {
    font-size: 2em;
    .sortProduct {
      padding: 60px 0 60px 0;
      .sortProduct__wrapSorted .sortProduct__innerSort .sortProduct__innerList {
        .sortProduct__iconArrow {
          width: 24px;
          height: 22px;
        }
        .sortProduct__listSort {
          height: 40px;
          width: 360px;
          .sortProduct__point {
            padding: 15px;
          }
        }
      }
      .sortProduct__buttonFilter {
        height: 85px;
        .sortProduct__buttonFilterText {
          font-size: 2.1em;
        }
        .sortProduct__buttonFilterIcon {
          width: 32px;
          height: 30px;
        }
      }
    }
    .blog__gridContainer .blog__wrapPosts {
      .blog__innerPosts .post {
        .post__wrapImage .post__innerDate {
          width: 100px;
          height: 100px;
        }
        .post__wrapContent {
          padding: 30px 0 30px 24px;
          grid-row-gap: 16px;
          .post__innerBtn {
            grid-column-gap: 30px;
            .post__iconArrowRight {
              width: 26px;
              height: 22px;
            }
          }
          .post__innerTag {
            .post__tag {
              grid-column-gap: 15px;
              .post__iconTag {
                width: 36px;
                height: 32px;
              }
            }
            .post__user {
              grid-column-gap: 15px;
              .post__iconUser {
                width: 36px;
                height: 32px;
              }
            }
            .post__comment {
              grid-column-gap: 15px;
              .post__iconComment {
                width: 36px;
                height: 32px;
              }
            }
          }
        }
      }
      .pagination .pagination__wrapper .pagination__innerPage {
        grid-column-gap: 25px;
        .pagination__iconArrowLeft {
          width: 28px;
          height: 24px;
        }
        .pagination__iconArrowRight {
          width: 28px;
          height: 24px;
        }
        .pagination__number {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
@media (min-width: 3700px) {
  #root .blog {
    font-size: 2.2em;
    .sortProduct {
      .sortProduct__wrapSorted .sortProduct__innerSort .sortProduct__innerList {
        .sortProduct__iconArrow {
          width: 26px;
          height: 24px;
        }
        .sortProduct__listSort {
          height: 45px;
          width: 400px;
          .sortProduct__point {
            padding: 18px;
          }
        }
      }
      .sortProduct__buttonFilter {
        height: 90px;
        .sortProduct__buttonFilterText {
          font-size: 2.5em;
        }
        .sortProduct__buttonFilterIcon {
          width: 36px;
          height: 32px;
        }
      }
    }
    .blog__gridContainer .blog__wrapPosts {
      .blog__innerPosts .post {
        .post__wrapImage .post__innerDate {
          width: 110px;
          height: 110px;
        }
        .post__wrapContent {
          .post__innerBtn {
            grid-column-gap: 55px;
            .post__iconArrowRight {
              width: 30px;
              height: 28px;
            }
          }
          .post__innerTag {
            grid-column-gap: 30px;
            .post__tag {
              grid-column-gap: 20px;
              .post__iconTag {
                width: 40px;
                height: 36px;
              }
            }
            .post__user {
              grid-column-gap: 20px;
              .post__iconUser {
                width: 40px;
                height: 36px;
              }
            }
            .post__comment {
              grid-column-gap: 20px;
              .post__iconComment {
                width: 40px;
                height: 36px;
              }
            }
          }
        }
      }
      .pagination .pagination__wrapper .pagination__innerPage {
        grid-column-gap: 30px;
        .pagination__number {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
@media (max-width: 1650px) {
  #root .blog {
    .sortProduct {
      grid-template-columns: 12% auto;
      grid-column-gap: 22%;
    }
    .blog__gridContainer
      .blog__wrapPosts
      .blog__innerPosts
      .post
      .post__wrapContent {
      padding: 24px 0;
      .post__textContent {
        height: 60px;
      }
    }
  }
}
@media (max-width: 1300px) {
  #root .blog {
    .sortProduct {
      width: 95%;
      grid-template-columns: 14% auto;
      grid-column-gap: 20%;
      .sortProduct__buttonFilter .sortProduct__buttonFilterIcon {
        width: 18px;
        height: 15px;
      }
    }
    .blog__gridContainer {
      grid-column-gap: 1.5%;
      width: 95%;
      grid-template-columns: 32.121% 66.36%;
      .blog__wrapPosts {
        .blog__innerPosts {
          grid-template-columns: 49.123% 49.123%;
          grid-column-gap: 1.752%;
        }
        .blog__innerPosts .post {
          .post__wrapContent {
            padding: 12px 0 12px 12px;
            .post__innerTag {
              grid-column-gap: 12px;
            }
          }
          .post__wrapImage .post__innerDate {
            width: 50px;
            height: 50px;
            bottom: 20px;
            left: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  #root
    .blog
    .blog__gridContainer
    .blog__wrapPosts
    .blog__innerPosts
    .post
    .post__wrapContent
    .post__innerTag {
    .post__tag .post__iconTag {
      display: none;
    }
    .post__user .post__iconUser {
      display: none;
    }
    .post__comment .post__iconComment {
      display: none;
    }
  }
}
@media (max-width: 900px) {
  #root .blog {
    .sortProduct {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-column-gap: 0px;
      grid-row-gap: 25px;
      justify-items: center;
      .sortProduct__buttonFilter {
        width: 40%;
      }
    }
    .blog__gridContainer {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-column-gap: 0px;
      grid-row-gap: 25px;
      .blog__wrapFilter .blogSearch {
        padding: 0;
        min-width: 100%;
        .blogSearch__input {
          min-width: 100%;
        }
      }
      .blog__wrapPosts
        .blog__innerPosts
        .post
        .post__wrapContent
        .post__innerTag {
        .post__tag .post__iconTag {
          display: block;
        }
        .post__user .post__iconUser {
          display: block;
        }
        .post__comment .post__iconComment {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  #root .blog .blog__gridContainer .blog__wrapPosts .blog__innerPosts {
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-auto-rows: auto;
    grid-row-gap: 25px;
    .post .post__wrapContent .post__textContent {
      height: 40px;
      justify-content: normal;
      justify-items: start;
    }
  }
}
@media (max-width: 500px) {
  #root
    .blog
    .blog__gridContainer
    .blog__wrapPosts
    .blog__innerPosts
    .post
    .post__wrapContent
    .post__textContent {
    height: 60px;
  }
}
