@use "@styles/variables.module.scss" as *;

.faqs {
  font-size: 1em;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  .faqs__wrapContent {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-column-gap: 73px;
    grid-template-columns: 32.1% 38.593%;
    grid-template-rows: auto;
    padding-top: 80px;
    padding-left: 14.5%;
    .faqs__innerContent {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: grid;
      align-content: center;
      justify-items: center;
      grid-template-columns: auto;
      grid-template-rows: 20% 55%;
      grid-row-gap: 32px;
      padding: 0 16px 0 16px;
      .faqs__title {
        width: 100%;
        font-weight: bold;
        font-size: 3em;
        color: $dark;
      }
      .faqs__innerDescriptions {
        width: 100%;
        display: grid;
        align-content: start;
        justify-items: start;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 44px;
        .faqs__article {
          width: 100%;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto;
          grid-row-gap: 10px;
          overflow: hidden;
          height: 20px;
          transition: all 0.8s;
          .faqs__innerSubtitle {
            width: 20px;
            width: 100%;
            display: grid;
            align-items: center;
            justify-content: space-between;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            cursor: pointer;
            .faqs__subtitle {
              width: 100%;
              font-size: 1em;
              color: $dark;
              font-weight: bold;
            }
            .faqs__plus {
              width: 10px;
              height: 10px;
              font-weight: bold;
              color: $dark;
              transition: all 0.5s;
            }
          }
          .faqs__text {
            font-size: 0.875em;
            color: #666666;
            font-weight: 500;
          }
        }
        .faqs__article_active {
          height: 115px;
          .faqs__innerSubtitle .faqs__plus {
            transform: rotate(45deg);
          }
        }
      }
    }
    .faqs__innerImg {
      display: grid;
      width: 100%;
      align-items: center;
      justify-items: start;
      .faqs__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}
