@use "@styles/variables.module.scss" as *;
.shopping {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: start;
  .shopping__container {
    box-sizing: border-box;
    padding: 16px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    grid-row-gap: 28px;
    .shopping__innerTitle {
      width: 100%;
      display: grid;
      grid-template-columns: 45% 30% auto;
      grid-template-rows: auto;
      justify-items: start;
      align-items: center;
      .shopping__title {
        width: 100%;
        text-align: start;
        font-size: 0.875em;
        letter-spacing: 3%;
        font-weight: 500;
        color: #808080;
      }
    }
    .shopping__innerProduct {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-auto-rows: auto;
      grid-row-gap: 24px;
      justify-items: center;
      align-items: center;
      .shopping__product {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 30% 21% auto;
        grid-template-rows: auto;
        justify-items: start;
        align-items: center;
        .shopping__innerImg {
          width: 100%;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          justify-content: start;
          align-items: center;
          grid-column-gap: 12px;
          .shopping__img {
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
          .shopping__name {
            width: 100%;
            color: $dark;
            font-size: 1em;
            font-weight: 500;
            line-height: 150%;
            display: grid;
            justify-content: start;
            align-items: center;
          }
        }
        .shopping__price {
          width: 100%;
          color: $dark;
          font-size: 1em;
          font-weight: 500;
          line-height: 150%;
          display: grid;
          justify-content: start;
          align-items: center;
        }
        .shopping__innerAmount {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: auto;
          justify-content: start;
          align-items: center;
          .shopping__btnPlus {
            width: 34px;
            height: 34px;
            font-size: 1.2em;
            color: $dark;
            cursor: pointer;
            font-weight: 500;
            background-color: transparent;
            transition: all 0.3s;
          }
          .shopping__amount {
            display: grid;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 34px;
            font-size: 1em;
            color: $dark;
            font-weight: 500;
            line-height: 150%;
          }
          .shopping__btnMinus {
            width: 34px;
            height: 34px;
            font-size: 1.2em;
            color: $dark;
            cursor: pointer;
            font-weight: 500;
            background-color: transparent;
            transition: all 0.3s;
          }
        }
        .shopping__deleteItem {
          width: 20px;
          font-size: 1.3em;
          color: #666666;
          cursor: pointer;
          display: grid;
          justify-items: center;
          align-items: center;
          background-color: transparent;
          transition: all 0.3s;
        }
      }
    }
  }
}
.shopping_empty {
  align-items: center;
}
