@use "@styles/variables.module.scss" as *;

.sectionCurrency {
  width: 68.75%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 13px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  .sectionCurrency__innerAddress {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 8px;
    justify-items: start;
    align-items: center;
    .sectionCurrency__iconPoint {
      width: 15px;
      height: 18px;
    }
    .sectionCurrency__title {
      width: 100%;
      font-size: 0.75em;
      color: $gray;
      font-weight: 500;
      line-height: 130%;
      text-align: start;
    }
  }
  .sectionCurrency__wrapCurrency {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-column-gap: 40px;
    .sectionCurrency__wrapLanguage {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 20px;
      justify-items: center;
      align-items: center;
      .sectionCurrency__innerLanguage {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        outline: none;
        appearance: none;
        cursor: pointer;
        grid-column-gap: 6px;
        transition: all 0.3s;
        .sectionCurrency__selectedLanguage {
          width: 100%;
          font-size: 0.75em;
          line-height: 130%;
          font-weight: 500;
          color: $gray;
          transition: all 0.3s;
          text-align: center;
          user-select: none;
        }
        .sectionCurrency__iconArrowDown {
          width: 7px;
          height: 4px;
          transition: all 0.3s;
        }
        .sectionCurrency__iconArrowDown_active {
          transform: rotate(-180deg);
        }
        .sectionCurrency__listLanguage {
          width: 100%;
          height: auto;
          position: absolute;
          border-radius: 5px;
          max-height: 121px;
          height: auto;
          z-index: 200;
          top: 30px;
          left: 0;
          display: none;
          background-color: $dark;
          overscroll-behavior: none;
          grid-template-columns: auto;
          grid-auto-rows: auto;
          justify-items: center;
          align-items: start;
          overflow-y: auto;
          overflow-x: hidden;
          &::-webkit-scrollbar {
            display: none;
          }
          .sectionCurrency__item {
            width: 100%;
            box-sizing: border-box;
            padding: 6px 4px;
            display: grid;
            border-radius: 5px;
            border: 2px solid $dark;
            justify-items: center;
            align-items: center;
            font-size: 1em;
            color: white;
            background-color: $dark;
            transition: all 0.3s;
            cursor: pointer;
            font-weight: 550;
          }
        }
        .sectionCurrency__listLanguage_active {
          display: grid;
        }
      }
      .sectionCurrency__innerCurrency {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-items: center;
        outline: none;
        appearance: none;
        align-items: center;
        cursor: pointer;
        grid-column-gap: 6px;
        transition: all 0.3s;
        .sectionCurrency__selectedCurrency {
          width: 100%;
          font-size: 0.75em;
          line-height: 130%;
          font-weight: 500;
          color: $gray;
          transition: all 0.3s;
          text-align: center;
          user-select: none;
        }
        .sectionCurrency__iconArrowDown {
          width: 7px;
          height: 4px;
          transition: all 0.3s;
        }
        .sectionCurrency__iconArrowDown_active {
          transform: rotate(-180deg);
        }
        .sectionCurrency__listCurrency {
          border-radius: 5px;
          width: 100%;
          max-height: 121px;
          height: auto;
          z-index: 200;
          position: absolute;
          top: 30px;
          left: 0;
          display: none;
          background-color: $dark;
          overscroll-behavior: none;
          grid-template-columns: auto;
          grid-auto-rows: auto;
          justify-items: center;
          align-items: start;
          overflow-y: auto;
          overflow-x: hidden;
          &::-webkit-scrollbar {
            display: none;
          }
          .sectionCurrency__item {
            border-radius: 5px;
            border: 2px solid $dark;
            width: 100%;
            box-sizing: border-box;
            padding: 6px 4px;
            display: grid;
            justify-items: center;
            align-items: center;
            font-size: 1em;
            color: white;
            background-color: $dark;
            transition: all 0.3s;
            cursor: pointer;
            font-weight: 550;
          }
        }
        .sectionCurrency__listCurrency_active {
          display: grid;
        }
      }
    }
    .sectionCurrency__innerLinkLogin {
      cursor: pointer;
      transition: all 0.3s;
      font-size: 0.75em;
      line-height: 1.3;
      color: $gray;
    }
  }
  .sectionCurrency__wrapCurrency_auth {
    justify-content: end;
    grid-column-gap: 0;
  }
}
